.icon {
    display: inline-block;
    font-size: 0;
    text-indent: -999px;
    cursor: pointer;
}

.icon_naver {
    width: 40px;
    height: 40px;
    background: url('/assets/images/icon/icon-naver-pc.svg') no-repeat center;
}

.icon_instagram {
    width: 40px;
    height: 40px;
    background: url('/assets/images/icon/icon-instagram-pc.svg') no-repeat center;
}

.icon_naver_mo {
    width: 40px;
    height: 40px;
    background: url('/assets/images/icon/icon-naver-mo.svg') no-repeat center;
}

.icon_instagram_mo {
    width: 40px;
    height: 40px;
    background: url('/assets/images/icon/icon-instagram-mo.svg') no-repeat center;
}

.icon_category_mo {
    width: 40px;
    height: 40px;
    background: url('/assets/images/icon/icon-catecory-mo.svg') no-repeat center;
}

.icon_left_arrow {
    width: 40px;
    height: 40px;
    background: url('/assets/images/icon/icon-left-arrow.svg') no-repeat center;
}