// Color
$gray-111: #111111;
$gray-444: #444444;
$gray-666: #666666;
$gray-888: #888888;
$primary: #FF8E2A;
$primary-gradient: linear-gradient(90deg, rgba(255,166,33,1) 0%, rgba(255,134,42,1) 100%);

$breakpoint-mobile: 390px;
$breakpoint-tablet: 834px;
$breakpoint-pc: 1312px;