// Noto Sans
@font-face {
  font-family: 'Noto Sans KR';
  font-weight: 400;
  src: local('Noto Sans KR Regular'), url('/assets/fonts/NotoSans/NotoSans-Regular.woff2') format('woff2'), url('/assets/fonts/NotoSans/NotoSans-Regular.woff') format('woff'),
    url('/assets/fonts/NotoSans/NotoSans-Regular.otf') format('opentype');
}

@font-face {
  font-family: 'Noto Sans KR';
  font-weight: 500;
  src: local('Noto Sans KR Medium'), url('/assets/fonts/NotoSans/NotoSans-Medium.woff2') format('woff2'), url('/assets/fonts/NotoSans/NotoSans-Medium.woff') format('woff'),
    url('/assets/fonts/NotoSans/NotoSans-Medium.otf') format('opentype');
}

@font-face {
  font-family: 'Noto Sans KR';
  font-weight: 700;
  src: local('Noto Sans KR Bold'), url('/assets/fonts/NotoSans/NotoSans-Bold.woff2') format('woff2'), url('/assets/fonts/NotoSans/NotoSans-Bold.woff') format('woff'),
    url('/assets/fonts/NotoSans/NotoSans-Bold.otf') format('opentype');
}

// Roboto
@font-face {
  font-family: "Roboto";
  font-weight: 400;
  unicode-range: U+0030-0039, U+0020-002F, U+003A-0040, U+005B-0060, U+007B-007E;
  src: url("/assets/fonts/Roboto/Roboto-Regular.woff2") format("woff2"), url("/assets/fonts/Roboto/Roboto-Regular.woff") format("woff"), url("/assets/fonts/Roboto/Roboto-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Roboto";
  font-weight: 500;
  unicode-range: U+0030-0039, U+0020-002F, U+003A-0040, U+005B-0060, U+007B-007E;
  src: url("/assets/fonts/Roboto/Roboto-Medium.woff2") format("woff2"), url("/assets/fonts/Roboto/Roboto-Medium.woff") format("woff"), url("/assets/fonts/Roboto/Roboto-Medium.ttf") format("truetype");
}

@font-face {
  font-family: "Roboto";
  font-weight: 700;
  unicode-range: U+0030-0039, U+0020-002F, U+003A-0040, U+005B-0060, U+007B-007E;
  src: url("/assets/fonts/Roboto/Roboto-Bold.woff2") format("woff2"), url("/assets/fonts/Roboto/Roboto-Bold.woff") format("woff"), url("/assets/fonts/Roboto/Roboto-Bold.ttf") format("truetype");
}