// Noto Sans
@font-face {
  font-family: 'Noto Sans KR';
  font-weight: 400;
  src: local('Noto Sans KR Regular'), url(/assets/fonts/NotoSans-Regular.woff2) format('woff2'), url(/assets/fonts/NotoSans-Regular.woff) format('woff'),
    url(/assets/fonts/NotoSans-Regular.otf) format('opentype');
}

@font-face {
  font-family: 'Noto Sans KR';
  font-weight: 500;
  src: local('Noto Sans KR Medium'), url(/assets/fonts/NotoSans-Medium.woff2) format('woff2'), url(/assets/fonts/NotoSans-Medium.woff) format('woff'),
    url(/assets/fonts/NotoSans-Medium.otf) format('opentype');
}

@font-face {
  font-family: 'Noto Sans KR';
  font-weight: 700;
  src: local('Noto Sans KR Bold'), url(/assets/fonts/NotoSans-Bold.woff2) format('woff2'), url(/assets/fonts/NotoSans-Bold.woff) format('woff'),
    url(/assets/fonts/NotoSans-Bold.otf) format('opentype');
}
