/* base */
@import "base/reset.scss";
@import "base/variables.scss";
@import "base/icons.scss";
@import "base/fonts.scss";


/* layout */
@import "layouts/header.scss";
@import "layouts/footer.scss";
@import "layouts/category.scss";
@import "layouts/navigation.scss";

/* component */
@import "component/button.scss";
@import "component/pagination.scss";
@import "component/form.scss";
@import "component/dragToScroll.scss";
@import "component/swiper.scss";
@import "component/list.scss";
@import "component/view.scss";

/* contents */
@import "contents/contents";

main {
    // MO
    @media screen and (max-width: #{$breakpoint-tablet - 1px}) {
        padding: 2rem;

        + .footer {
            display: none;
        }

        &.board {
            &:has(.qna) {
                padding-bottom: 8rem;
            }
        }
    }

    // Tablet
    @media screen and (min-width: #{$breakpoint-tablet}) and (max-width: #{$breakpoint-pc - 1px}) {
        padding: 2.8rem;

        &.board {
            + .footer {
                display: none;
            }
        }
    }

    // PC
    @media screen and (min-width: #{$breakpoint-pc}) {
        width: $breakpoint-pc;
        margin: auto;
        padding: 4rem 0;

        &.board {
            padding: 4rem 0 18.8rem;
        }
    }
}