.category {
    position: fixed;
    top: 0;
    right: -100%;
    width: 0%;
    height: 100%;
    background-color: white;
    transition: all 0.3s ease;
    z-index: 100;

    &.open {
        right: 0;
        width: 100%;
    }

    .header {
        border-bottom: 1px solid #eee;

        .category__title {
            font-size: 17px;
            font-weight: 700;
            line-height: 19px;
            letter-spacing: -0.2px;
        }
    }

    .category__menu {
        height: calc(100% - 52px - 119px);
        overflow-y: auto;

        // MO
        @media screen and (max-width: #{$breakpoint-tablet - 1px}) {
            padding: 0 12px 0 20px;
        }

        // Tablet
        @media screen and (min-width: #{$breakpoint-tablet}) and (max-width: #{$breakpoint-pc - 1px}) {
            padding: 0 20px 0 28px;
        }

        .category__menu-item {
            display: flex;
            flex-direction: column;
            padding: 12px 0;

            &:not(:last-child) {
                border-bottom: 1px solid #eee;
            }

            .title {
                line-height: 44px;
                font-size: 16px;
                font-weight: 700;
                letter-spacing: -0.2px;
                color: $gray-111;
                display: inline-block;
            }

            .list {
                display: flex;
                flex-wrap: wrap;
            }

            .item {
                font-size: 14px;
                font-weight: 500;
                line-height: 40px;
                color: $gray-666;
                cursor: pointer;

                // MO
                @media screen and (max-width: #{$breakpoint-tablet - 1px}) {
                    width: 50%;
                }

                // Tablet
                @media screen and (min-width: #{$breakpoint-tablet}) and (max-width: #{$breakpoint-pc - 1px}) {
                    width: 25%;
                }
            }
        }
    }

    .footer {
        .footer__inner {
            flex-direction: row;

            // MO
            @media screen and (max-width: #{$breakpoint-tablet - 1px}) {
                padding: 20px;
            }

            // Tablet
            @media screen and (min-width: #{$breakpoint-tablet}) and (max-width: #{$breakpoint-pc - 1px}) {
                padding: 20px 28px;
            }
        }

        .footer__content {
            margin-bottom: 0;
        }

        .footer__content-title {
            font-family: 'Apple SD Gothic Neo';
            font-size: 14px;
            font-weight: 500;
            line-height: 17px;
            margin-top: 0;
            color: $gray-444;
            height: 19px;

            &::after {
                display: none;
            }
        }

        .footer__content-info {
            font-family: Roboto;
            font-size: 16px;
            font-weight: 700;
            line-height: 18px;
            color: $gray-111;
            gap: 12px;
            height: fit-content;
            margin-bottom: 0;

            .smartphone::before {
                content: '';
                display: inline-block;
                margin-right: 4px;
                width: 16px;
                height: 16px;
                background-image: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_172_26368)'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M3 3C3 1.89543 3.89543 1 5 1H11C12.1046 1 13 1.89543 13 3V13C13 14.1046 12.1046 15 11 15H5C3.89543 15 3 14.1046 3 13V3ZM6 3.5C6 3.22386 6.22386 3 6.5 3H9.5C9.77614 3 10 3.22386 10 3.5C10 3.77614 9.77614 4 9.5 4H6.5C6.22386 4 6 3.77614 6 3.5ZM8 13C8.55228 13 9 12.5523 9 12C9 11.4477 8.55228 11 8 11C7.44772 11 7 11.4477 7 12C7 12.5523 7.44772 13 8 13Z' fill='%23FF8E2A'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_172_26368'%3E%3Crect width='16' height='16' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");
            }

            .phone::before {
                content: '';
                display: inline-block;
                margin-right: 4px;
                width: 16px;
                height: 16px;
                background-image: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_172_26371)'%3E%3Cpath d='M11.7585 14.9999C8.90629 14.9962 6.17197 13.8593 4.15517 11.8384C2.13836 9.81763 1.0037 7.07789 1 4.22003C1 3.36605 1.33857 2.54704 1.94123 1.94318C2.5439 1.33932 3.36128 1.00008 4.21357 1.00008C4.39405 0.998703 4.57422 1.01511 4.7515 1.04908C4.92287 1.07449 5.09134 1.11669 5.25449 1.17508C5.36923 1.21542 5.47148 1.28507 5.55112 1.37715C5.63076 1.46922 5.68504 1.58053 5.70858 1.70007L6.66567 5.90001C6.69146 6.01401 6.68836 6.13267 6.65663 6.24516C6.6249 6.35765 6.56556 6.46039 6.48403 6.544C6.39321 6.642 6.38623 6.649 5.52694 7.09699C6.21506 8.60957 7.42239 9.82426 8.92914 10.5199C9.38323 9.65195 9.39022 9.64495 9.48802 9.55396C9.57147 9.47226 9.674 9.4128 9.78627 9.38101C9.89853 9.34922 10.017 9.34611 10.1307 9.37196L14.3224 10.3309C14.4378 10.3578 14.5446 10.4136 14.6326 10.4932C14.7206 10.5728 14.7869 10.6736 14.8253 10.7859C14.8843 10.9521 14.9287 11.1231 14.9581 11.2969C14.9862 11.4729 15.0002 11.6508 15 11.8289C14.9871 12.6793 14.639 13.49 14.0317 14.084C13.4244 14.6781 12.6072 15.0074 11.7585 14.9999Z' fill='%23FF8E2A'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_172_26371'%3E%3Crect width='16' height='16' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");
            }
        }

        .footer__icon {
            align-self: flex-end;
        }
    }
}