header {
    display: flex;
    justify-content: center;
    background: white;
    z-index: 2;
    width: 100%;
    top: 0;

    // MO and Tablet
    @media screen and (max-width: #{$breakpoint-pc - 1px}) {
        height: 52px;
        
        img {
            width: 100px;
        }
    }

    // PC
    @media screen and (min-width: #{$breakpoint-pc}) {
        height: 58px;
        margin-top: 40px;
    }

    .header__inner {
        width: 100%;
        display: flex;
        justify-content: space-between;

        // MO
        @media screen and (max-width: #{$breakpoint-tablet - 1px}) {
            align-items: center;
            padding: 0 12px 0 20px;
        }

        // Tablet
        @media screen and (min-width: #{$breakpoint-tablet}) and (max-width: #{$breakpoint-pc - 1px}) {
            align-items: center;
            padding: 0 20px 0 28px;
        }

        // PC
        @media screen and (min-width: #{$breakpoint-pc}) {
            align-items: flex-end;
            width: $breakpoint-pc;
        }
    }

    .header__inner-right {
        display: flex;
        gap: 40px;
        align-items: flex-end;

        .header__inner-menu {
            display: flex;
            gap: 24px;
            margin-right: 40px;
            font-size: 2rem;
            font-weight: 700;

            li {
                cursor: pointer;

                &:hover a {
                    color: $primary;
                }
            }
            
            .selected a {
                color: $primary;
            }
        }

        .header__inner-icon {
            display: flex;

            // PC
            @media screen and (min-width: #{$breakpoint-pc}) {
                gap: 20px;
            }
        }
    }
}

.header.sub {
    .header__inner {
        // MO
        @media screen and (max-width: #{$breakpoint-tablet - 1px}) {
            padding: 0 12px;
        }

        // Tablet
        @media screen and (min-width: #{$breakpoint-tablet}) and (max-width: #{$breakpoint-pc - 1px}) {
            padding: 0 20px;
        }
    }

    .header__sub-title {
        display: flex;
        align-items: center;
    }

    .header__title {
        font-weight: 700;
        font-size: 17px;
        line-height: 19px;
        letter-spacing: -0.2px;
        color: $gray-111;
        padding-left: 4px;
    }
}

.header:not(.sub) ~ .navigation {
    border-bottom: none;
}

.headerShadow {
    box-shadow: 0 8px 8px rgba(0, 0, 0, 0.02);
}