.navigation {
    display: flex;
    width: 100%;
    background: white;
    z-index: 2;
    transition: all 0.3s;
    
    // Tablet
    @media screen and (min-width: #{$breakpoint-tablet}) and (max-width: #{$breakpoint-pc - 1px}) {
        padding: 0 28px;
    }

    // MO and Tablet
    @media screen and (max-width: #{$breakpoint-pc - 1px}) {
        height: 48px;
        border-bottom: 1px solid #eee;
    }

    // PC
    @media screen and (min-width: #{$breakpoint-pc - 1px}) {
        height: 60px;
        justify-content: center;
        margin-top: 32px;
    }

    .navigation__list {
        display: flex;
        align-items: center;
        overflow-x: auto;
        
        
        &.product {
            justify-content: space-between;
            border: none;
        }

        // MO
        @media screen and (max-width: #{$breakpoint-tablet - 1px}) {
            padding: 0 20px;
        }

        // MO and Tablet
        @media screen and (max-width: #{$breakpoint-pc - 1px}) {
            gap: 20px;
            width: 100%;
        }
        
        // PC
        @media screen and (min-width: #{$breakpoint-pc}) {
            gap: 40px;
            width: $breakpoint-pc;
            border-bottom: 1px solid #ddd;
        }

        .navigation__item {
            font-size: 15px;
            font-weight: 500;
            line-height: 21.17px;
            text-align: center;
            color: $gray-111;
            min-width: fit-content;
            cursor: pointer;

            // PC
            @media screen and (min-width: #{$breakpoint-pc}) {
                font-size: 16px;
                line-height: 23.17px;
            }
            
            &.selected a {
                font-weight: 700;
                color: $primary;
            }
        }

        .navigation__item-btn {
            width: 100%;
            display: flex;
            justify-content: flex-end;
        }
    }
}

.sub.navigation {
    padding: 0;
    margin-top: 0;
    border: none;

     @media screen and (max-width: #{$breakpoint-pc - 1px}) {
         height: fit-content;
     }


    .navigation__list {
        gap: 28px;
        background-color: #F6F6F6;
        justify-content: flex-start;
        padding: 0 20px;
        border-top: 1px solid #ddd;
        border-bottom: none;

        // MO
        @media screen and (max-width: #{$breakpoint-tablet - 1px}) {
            padding: 12px 20px;
            flex-wrap: wrap;
            gap: 0;
        }

        // Tablet
        @media screen and (min-width: #{$breakpoint-tablet}) and (max-width: #{$breakpoint-pc - 1px}) {
            padding: 12px 28px;
            flex-wrap: wrap;
            gap: 0;
        }

        .navigation__item {
            font-size: 13px;
            font-weight: 500;
            line-height: 18.17px;

            // MO
            @media screen and (max-width: #{$breakpoint-tablet - 1px}) {
                width: 50%;
            }

            // MO and Tablet
            @media screen and (max-width: #{$breakpoint-pc - 1px}) {
                text-align: left;
                height: 36px;
                line-height: 36px;
            }
            
            // Tablet
            @media screen and (min-width: #{$breakpoint-tablet}) and (max-width: #{$breakpoint-pc - 1px}) {
                width: 25%;
            }
            // PC
            @media screen and (min-width: #{$breakpoint-pc}) {
                font-size: 14px;
                line-height: 20.17px;
            }
        }
    }
}


// 제품, 시공갤러리 상세 페이지 and mo, tablet일 경우 hidden
@media screen and (max-width: #{$breakpoint-pc - 1px}) {
    .detail {
        header {
            border-bottom: 1px solid #eee;
        }
        .navigation {
            display: none;
        }
    }
    
}

