@charset "UTF-8";
/* base */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  font-family: "Roboto", "Noto Sans KR", sans-serif;
  font-size: 62.5%;
  color: #111;
  min-height: 100vh;
}

html:lang(ko) {
  word-break: keep-all;
}

body {
  -ms-overflow-style: none;
  /* ie */
  scrollbar-width: none;
  /* Firefox */
  overflow-wrap: break-word;
  text-size-adjust: 100%;
  font-size: 1.4rem;
  line-height: 1.5;
  overflow-x: hidden;
}

body::-webkit-scrollbar {
  display: none;
  /* chrome */
}

main {
  display: block;
}

ol,
ul,
li {
  list-style: none;
}

button,
fieldset,
iframe,
input,
select,
textarea {
  border: 0;
}

button,
dialog,
input,
mark,
meter,
progress {
  background-color: transparent;
}

table {
  border: 0;
  border-collapse: collapse;
  border-spacing: 0;
}

button,
input,
meter,
progress,
select,
textarea {
  appearance: none;
}

button,
a {
  cursor: pointer;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: top;
}

iframe {
  border: 0;
}

a {
  text-decoration: none;
  color: #222;
}

em {
  font-style: normal;
}

/* for Firefox */
::-moz-placeholder {
  opacity: 1;
}

/* for Internet Explorer */
::-ms-clear,
::-ms-reveal {
  display: none;
}

.icon {
  display: inline-block;
  font-size: 0;
  text-indent: -999px;
  cursor: pointer;
  background-repeat: no-repeat;
  background-position: center;
}

.icon_naver {
  width: 40px;
  height: 40px;
  background-image: url("/assets/images/icon/icon-naver-pc.svg");
}

.icon_instagram {
  width: 40px;
  height: 40px;
  background-image: url("/assets/images/icon/icon-instagram-pc.svg");
}

.icon_close {
  width: 40px;
  height: 40px;
  background-image: url("/assets/images/icon/icon-close.svg");
}

.icon_naver_mo {
  width: 40px;
  height: 40px;
  background-image: url("/assets/images/icon/icon-naver-mo.svg");
}

.icon_instagram_mo {
  width: 40px;
  height: 40px;
  background-image: url("/assets/images/icon/icon-instagram-mo.svg");
}

.icon_category_mo {
  width: 40px;
  height: 40px;
  background-image: url("/assets/images/icon/icon-catecory-mo.svg");
}

.icon_left_arrow {
  width: 40px;
  height: 40px;
  background-image: url("/assets/images/icon/icon-left-arrow.svg");
}

.icon_toggle_arrow {
  width: 2.4rem;
  height: 2.4rem;
  background-image: url("/assets/images/icon/icon-toggle-arrow.svg");
}

[class*=icon_page_] {
  width: 3.2rem;
  height: 3.2rem;
}

.icon_page_first {
  background-image: url("/assets/images/icon/icon-page-first.svg");
}

.icon_page_prev {
  background-image: url("/assets/images/icon/icon-page-prev.svg");
}

.icon_page_next {
  background-image: url("/assets/images/icon/icon-page-next.svg");
}

.icon_page_last {
  background-image: url("/assets/images/icon/icon-page-last.svg");
}

.icon_board_arrow {
  width: 2.4rem;
  height: 2.4rem;
  background-image: url("/assets/images/icon/icon-board-arrow.svg");
}

@font-face {
  font-family: "Noto Sans KR";
  font-weight: 400;
  src: local("Noto Sans KR Regular"), url("/assets/fonts/NotoSans/NotoSans-Regular.woff2") format("woff2"), url("/assets/fonts/NotoSans/NotoSans-Regular.woff") format("woff"), url("/assets/fonts/NotoSans/NotoSans-Regular.otf") format("opentype");
}
@font-face {
  font-family: "Noto Sans KR";
  font-weight: 500;
  src: local("Noto Sans KR Medium"), url("/assets/fonts/NotoSans/NotoSans-Medium.woff2") format("woff2"), url("/assets/fonts/NotoSans/NotoSans-Medium.woff") format("woff"), url("/assets/fonts/NotoSans/NotoSans-Medium.otf") format("opentype");
}
@font-face {
  font-family: "Noto Sans KR";
  font-weight: 700;
  src: local("Noto Sans KR Bold"), url("/assets/fonts/NotoSans/NotoSans-Bold.woff2") format("woff2"), url("/assets/fonts/NotoSans/NotoSans-Bold.woff") format("woff"), url("/assets/fonts/NotoSans/NotoSans-Bold.otf") format("opentype");
}
@font-face {
  font-family: "Roboto";
  font-weight: 400;
  unicode-range: U+0030-0039, U+0020-002F, U+003A-0040, U+005B-0060, U+007B-007E;
  src: url("/assets/fonts/Roboto/Roboto-Regular.woff2") format("woff2"), url("/assets/fonts/Roboto/Roboto-Regular.woff") format("woff"), url("/assets/fonts/Roboto/Roboto-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Roboto";
  font-weight: 500;
  unicode-range: U+0030-0039, U+0020-002F, U+003A-0040, U+005B-0060, U+007B-007E;
  src: url("/assets/fonts/Roboto/Roboto-Medium.woff2") format("woff2"), url("/assets/fonts/Roboto/Roboto-Medium.woff") format("woff"), url("/assets/fonts/Roboto/Roboto-Medium.ttf") format("truetype");
}
@font-face {
  font-family: "Roboto";
  font-weight: 700;
  unicode-range: U+0030-0039, U+0020-002F, U+003A-0040, U+005B-0060, U+007B-007E;
  src: url("/assets/fonts/Roboto/Roboto-Bold.woff2") format("woff2"), url("/assets/fonts/Roboto/Roboto-Bold.woff") format("woff"), url("/assets/fonts/Roboto/Roboto-Bold.ttf") format("truetype");
}
/* layout */
header {
  display: flex;
  justify-content: center;
  background: white;
  z-index: 2;
  width: 100%;
  top: 0;
}
@media screen and (max-width: 1311px) {
  header {
    height: 52px;
  }
  header img {
    width: 100px;
  }
}
@media screen and (min-width: 1312px) {
  header {
    height: 58px;
    margin-top: 40px;
  }
}
header .header__inner {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
@media screen and (max-width: 833px) {
  header .header__inner {
    align-items: center;
    padding: 0 12px 0 20px;
  }
}
@media screen and (min-width: 834px) and (max-width: 1311px) {
  header .header__inner {
    align-items: center;
    padding: 0 20px 0 28px;
  }
}
@media screen and (min-width: 1312px) {
  header .header__inner {
    align-items: flex-end;
    width: 1312px;
  }
}
header .header__inner-right {
  display: flex;
  gap: 40px;
  align-items: flex-end;
}
header .header__inner-right .header__inner-menu {
  display: flex;
  gap: 24px;
  margin-right: 40px;
  font-size: 2rem;
  font-weight: 700;
}
header .header__inner-right .header__inner-menu li {
  cursor: pointer;
}
header .header__inner-right .header__inner-menu .selected a {
  color: #FF8E2A;
}
header .header__inner-right .header__inner-icon {
  display: flex;
}
@media screen and (min-width: 1312px) {
  header .header__inner-right .header__inner-icon {
    gap: 20px;
  }
}

@media screen and (max-width: 833px) {
  .header.sub .header__inner {
    padding: 0 12px;
  }
}
@media screen and (min-width: 834px) and (max-width: 1311px) {
  .header.sub .header__inner {
    padding: 0 20px;
  }
}
.header.sub .header__sub-title {
  display: flex;
  align-items: center;
}
.header.sub .header__title {
  font-weight: 700;
  font-size: 17px;
  line-height: 19px;
  letter-spacing: -0.2px;
  color: #111111;
  padding-left: 4px;
}

.header:not(.sub) ~ .navigation {
  border-bottom: none;
}

.headerShadow {
  box-shadow: 0 8px 8px rgba(0, 0, 0, 0.02);
}

.footer {
  background-color: #F6F6F6;
  display: flex;
  justify-content: center;
}
.footer .footer__inner {
  width: 1312px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 40px 0 80px;
}
@media screen and (max-width: 833px) {
  .footer .footer__inner {
    flex-direction: column;
    padding: 40px 20px 80px;
  }
}
@media screen and (min-width: 834px) and (max-width: 1311px) {
  .footer .footer__inner {
    flex-direction: column;
    padding: 40px 28px 80px;
  }
}
@media screen and (max-width: 1311px) {
  .footer .footer__content {
    margin-bottom: 36px;
  }
}
@media screen and (min-width: 1312px) {
  .footer .footer__content img {
    width: 80px;
    height: 70px;
  }
}
.footer .footer__content-title {
  font-weight: 700;
  line-height: 18px;
  margin: 36px 0 12px;
  display: block;
  cursor: pointer;
  color: #666666;
}
@media screen and (max-width: 360px) {
  .footer .footer__content-title {
    font-size: 15px;
    line-height: 16px;
  }
}
.footer .footer__content-title:after {
  content: "";
  transition: all 0.3s ease;
  background-image: url("data:image/svg+xml,%3Csvg width='12' height='12' viewBox='0 0 12 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M3 7.5L6 4.5L9 7.5' stroke='%23666666' stroke-width='1.5' stroke-linecap='round'/%3E%3C/svg%3E%0A");
  width: 12px;
  height: 12px;
  display: inline-block;
  margin-left: 6px;
}
.footer .footer__content-info {
  display: flex;
  flex-direction: column;
  gap: 8px;
  color: #666666;
  transition: all 0.3s ease;
  height: fit-content;
  max-height: 500px;
  margin-bottom: 12px;
  overflow: hidden;
}
.footer .footer__content-info li {
  display: flex;
}
.footer .footer__content-info li:last-child, .footer .footer__content-info li:nth-last-child(2), .footer .footer__content-info li:nth-last-child(3) {
  font-family: "Roboto";
}
.footer .footer__content-info li:last-child .info__title, .footer .footer__content-info li:nth-last-child(2) .info__title, .footer .footer__content-info li:nth-last-child(3) .info__title {
  font-weight: 600;
}
.footer .footer__content-info .info__title {
  font-size: 12px;
  font-weight: 700;
  line-height: 16px;
}
.footer .footer__content-info .info__content {
  font-size: 12px;
  line-height: 16px;
  margin-left: 6px;
}
.footer .copyright {
  font-size: 12px;
  color: #666666;
  display: inline-block;
  line-height: 16px;
  font-family: "Roboto";
}
.footer .footer__icon {
  display: flex;
  gap: 12px;
}
.footer .footer__icon .circle__gray {
  border: 1px solid #D2D2D2;
  border-radius: 999px;
  width: 44px;
  height: 44px;
  display: flex;
  align-items: center;
  justify-content: center;
}

body > footer .footer__content:not(.open) .footer__content-info {
  max-height: 0;
  margin-bottom: 0;
}
body > footer .footer__content:not(.open) .footer__content-title::after {
  transform: rotate(-180deg);
}

.category {
  position: fixed;
  top: 0;
  right: -100%;
  width: 0%;
  height: 100%;
  background-color: white;
  transition: all 0.3s ease;
  z-index: 100;
}
.category.open {
  right: 0;
  width: 100%;
}
.category .header {
  border-bottom: 1px solid #eee;
}
.category .header .category__title {
  font-size: 17px;
  font-weight: 700;
  line-height: 19px;
  letter-spacing: -0.2px;
}
.category .category__menu {
  height: calc(100% - 52px - 119px);
  overflow-y: auto;
}
@media screen and (max-width: 833px) {
  .category .category__menu {
    padding: 0 12px 0 20px;
  }
}
@media screen and (min-width: 834px) and (max-width: 1311px) {
  .category .category__menu {
    padding: 0 20px 0 28px;
  }
}
.category .category__menu .category__menu-item {
  display: flex;
  flex-direction: column;
  padding: 12px 0;
}
.category .category__menu .category__menu-item:not(:last-child) {
  border-bottom: 1px solid #eee;
}
.category .category__menu .category__menu-item .title {
  line-height: 44px;
  font-size: 16px;
  font-weight: 700;
  letter-spacing: -0.2px;
  color: #111111;
  display: inline-block;
}
.category .category__menu .category__menu-item .list {
  display: flex;
  flex-wrap: wrap;
}
.category .category__menu .category__menu-item .item {
  font-size: 14px;
  font-weight: 500;
  line-height: 40px;
  color: #666666;
  cursor: pointer;
}
@media screen and (max-width: 833px) {
  .category .category__menu .category__menu-item .item {
    width: 50%;
  }
}
@media screen and (min-width: 834px) and (max-width: 1311px) {
  .category .category__menu .category__menu-item .item {
    width: 25%;
  }
}
.category .footer .footer__inner {
  flex-direction: row;
}
@media screen and (max-width: 833px) {
  .category .footer .footer__inner {
    padding: 20px;
  }
}
@media screen and (min-width: 834px) and (max-width: 1311px) {
  .category .footer .footer__inner {
    padding: 20px 28px;
  }
}
.category .footer .footer__content {
  margin-bottom: 0;
}
.category .footer .footer__content-title {
  font-family: "Apple SD Gothic Neo";
  font-size: 14px;
  font-weight: 500;
  line-height: 17px;
  margin-top: 0;
  color: #444444;
  height: 19px;
}
.category .footer .footer__content-title::after {
  display: none;
}
.category .footer .footer__content-info {
  font-family: Roboto;
  font-size: 16px;
  font-weight: 700;
  line-height: 18px;
  color: #111111;
  gap: 12px;
  height: fit-content;
  margin-bottom: 0;
}
.category .footer .footer__content-info .smartphone::before {
  content: "";
  display: inline-block;
  margin-right: 4px;
  width: 16px;
  height: 16px;
  background-image: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_172_26368)'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M3 3C3 1.89543 3.89543 1 5 1H11C12.1046 1 13 1.89543 13 3V13C13 14.1046 12.1046 15 11 15H5C3.89543 15 3 14.1046 3 13V3ZM6 3.5C6 3.22386 6.22386 3 6.5 3H9.5C9.77614 3 10 3.22386 10 3.5C10 3.77614 9.77614 4 9.5 4H6.5C6.22386 4 6 3.77614 6 3.5ZM8 13C8.55228 13 9 12.5523 9 12C9 11.4477 8.55228 11 8 11C7.44772 11 7 11.4477 7 12C7 12.5523 7.44772 13 8 13Z' fill='%23FF8E2A'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_172_26368'%3E%3Crect width='16' height='16' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");
}
.category .footer .footer__content-info .phone::before {
  content: "";
  display: inline-block;
  margin-right: 4px;
  width: 16px;
  height: 16px;
  background-image: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_172_26371)'%3E%3Cpath d='M11.7585 14.9999C8.90629 14.9962 6.17197 13.8593 4.15517 11.8384C2.13836 9.81763 1.0037 7.07789 1 4.22003C1 3.36605 1.33857 2.54704 1.94123 1.94318C2.5439 1.33932 3.36128 1.00008 4.21357 1.00008C4.39405 0.998703 4.57422 1.01511 4.7515 1.04908C4.92287 1.07449 5.09134 1.11669 5.25449 1.17508C5.36923 1.21542 5.47148 1.28507 5.55112 1.37715C5.63076 1.46922 5.68504 1.58053 5.70858 1.70007L6.66567 5.90001C6.69146 6.01401 6.68836 6.13267 6.65663 6.24516C6.6249 6.35765 6.56556 6.46039 6.48403 6.544C6.39321 6.642 6.38623 6.649 5.52694 7.09699C6.21506 8.60957 7.42239 9.82426 8.92914 10.5199C9.38323 9.65195 9.39022 9.64495 9.48802 9.55396C9.57147 9.47226 9.674 9.4128 9.78627 9.38101C9.89853 9.34922 10.017 9.34611 10.1307 9.37196L14.3224 10.3309C14.4378 10.3578 14.5446 10.4136 14.6326 10.4932C14.7206 10.5728 14.7869 10.6736 14.8253 10.7859C14.8843 10.9521 14.9287 11.1231 14.9581 11.2969C14.9862 11.4729 15.0002 11.6508 15 11.8289C14.9871 12.6793 14.639 13.49 14.0317 14.084C13.4244 14.6781 12.6072 15.0074 11.7585 14.9999Z' fill='%23FF8E2A'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_172_26371'%3E%3Crect width='16' height='16' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");
}
.category .footer .footer__icon {
  align-self: flex-end;
}

.navigation {
  display: flex;
  width: 100%;
  background: white;
  z-index: 2;
  transition: all 0.3s;
}
@media screen and (min-width: 834px) and (max-width: 1311px) {
  .navigation {
    padding: 0 28px;
  }
}
@media screen and (max-width: 1311px) {
  .navigation {
    height: 48px;
    border-bottom: 1px solid #eee;
  }
}
@media screen and (min-width: 1311px) {
  .navigation {
    height: 60px;
    justify-content: center;
    margin-top: 32px;
  }
}
.navigation .navigation__list {
  display: flex;
  align-items: center;
  overflow-x: auto;
}
.navigation .navigation__list.product {
  justify-content: space-between;
  border: none;
}
@media screen and (max-width: 833px) {
  .navigation .navigation__list {
    padding: 0 20px;
  }
}
@media screen and (max-width: 1311px) {
  .navigation .navigation__list {
    gap: 20px;
    width: 100%;
  }
}
@media screen and (min-width: 1312px) {
  .navigation .navigation__list {
    gap: 40px;
    width: 1312px;
    border-bottom: 1px solid #ddd;
  }
}
.navigation .navigation__list .navigation__item {
  font-size: 15px;
  font-weight: 500;
  line-height: 21.17px;
  text-align: center;
  color: #111111;
  min-width: fit-content;
  cursor: pointer;
}
@media screen and (min-width: 1312px) {
  .navigation .navigation__list .navigation__item {
    font-size: 16px;
    line-height: 23.17px;
  }
}
.navigation .navigation__list .navigation__item.selected a {
  font-weight: 700;
  color: #FF8E2A;
}
.navigation .navigation__list .navigation__item-btn {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.sub.navigation {
  padding: 0;
  margin-top: 0;
}
@media screen and (max-width: 1311px) {
  .sub.navigation {
    height: fit-content;
  }
}
.sub.navigation .navigation__list {
  gap: 28px;
  background-color: #F6F6F6;
  justify-content: flex-start;
  padding: 0 20px;
  border-top: 1px solid #ddd;
  border-bottom: none;
}
@media screen and (max-width: 833px) {
  .sub.navigation .navigation__list {
    padding: 12px 20px;
    flex-wrap: wrap;
  }
}
@media screen and (min-width: 834px) and (max-width: 1311px) {
  .sub.navigation .navigation__list {
    padding: 12px 28px;
    flex-wrap: wrap;
  }
}
.sub.navigation .navigation__list .navigation__item {
  font-size: 13px;
  font-weight: 500;
  line-height: 18.17px;
}
@media screen and (max-width: 833px) {
  .sub.navigation .navigation__list .navigation__item {
    width: 45%;
    text-align: left;
  }
}
@media screen and (min-width: 834px) and (max-width: 1311px) {
  .sub.navigation .navigation__list .navigation__item {
    width: 22.2%;
    text-align: left;
  }
}
@media screen and (min-width: 1312px) {
  .sub.navigation .navigation__list .navigation__item {
    font-size: 14px;
    line-height: 20.17px;
  }
}

@media screen and (max-width: 1311px) {
  .detail header {
    border-bottom: 1px solid #eee;
  }
  .detail .navigation {
    display: none;
  }
}
/* component */
.btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
}
.btn.is-primary {
  padding: 0 6rem;
  height: 4.8rem;
  border-radius: 0.8rem;
  font-size: 1.6rem;
  font-weight: 700;
  color: #fff;
  background-color: #FF8E2A;
}
.btn.is-primary:focus, .btn.is-primary:active {
  background-color: #CA6307;
}
.btn.is-secondary {
  padding: 0 1.2rem;
  height: 4rem;
  font-size: 1.4rem;
  font-weight: 500;
  border-radius: 0.4rem;
  border: 0.1rem solid #111111;
  font-family: "Noto Sans KR";
  transform: rotate(0.04deg);
}
.btn.is-secondary:focus, .btn.is-secondary:active {
  background-color: #FF8E2A;
  border-color: #FF8E2A;
  color: #fff;
}
.btn.is-more {
  position: relative;
  gap: 0.4rem;
  padding: 0 4rem 0 2rem;
  height: 3.6rem;
  border-radius: 999rem;
  border: 0.1rem solid #E8E8E8;
  font-size: 1.3rem;
  background-color: #fff;
}
.btn.is-more::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 2rem;
  width: 1.2rem;
  height: 1.2rem;
  transform: translateY(-50%);
  background-image: url("/assets/images/icon/icon-more-arrow.svg");
}
.btn.is-more:focus, .btn.is-more:active {
  background-color: #FF8E2A;
  border-color: #FF8E2A;
  color: #fff;
}
.btn.is-more:focus strong, .btn.is-more:active strong {
  color: #fff !important;
}
.btn.is-more:focus::after, .btn.is-more:active::after {
  background-image: url("/assets/images/icon/icon-more-arrow-white.svg");
}
@media screen and (min-width: 1312px) {
  .btn.is-more {
    height: 3.2rem;
    padding: 0rem 1.6rem 0rem 3.2rem;
    font-size: 1.2rem;
  }
  .btn.is-more strong {
    display: none;
  }
  .btn.is-more::after {
    left: 1.6rem;
    background-image: url("/assets/images/icon/icon-more-plus.svg");
  }
  .btn.is-more:focus::after, .btn.is-more:active::after {
    background-image: url("/assets/images/icon/icon-more-plus-white.svg");
  }
  .btn.is-secondary {
    padding: 0.4rem 1.6rem 0;
    height: 4.8rem;
    font-size: 1.5rem;
  }
}

.scrollTopBtn {
  position: fixed;
  display: flex;
  justify-content: flex-end;
  padding-bottom: 2rem;
  bottom: 0;
  right: 1.6rem;
  z-index: 100;
  opacity: 1;
  transition: opacity ease 0.3s;
}
.scrollTopBtn.is-hide {
  opacity: 0;
  transition: opacity ease 0.3s;
}
.scrollTopBtn .scrollTopBtn__btn {
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 4rem;
  background-image: url("data:image/svg+xml,%3Csvg width='48' height='48' viewBox='0 0 48 48' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='24' cy='24' r='23.5' fill='white' fill-opacity='0.6' stroke='%23EEEEEE'/%3E%3Cpath d='M24.0004 16.1992V32.3992' stroke='%23666666' stroke-width='2' stroke-linecap='round'/%3E%3Cpath d='M17.4004 22.1992L24.0004 15.5992L30.6004 22.1992' stroke='%23666666' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
}
@media screen and (min-width: 834px) and (max-width: 1311px) {
  .scrollTopBtn {
    right: 2rem;
  }
}
@media screen and (min-width: 1312px) {
  .scrollTopBtn {
    position: sticky;
    width: 1312px;
    margin: 0 auto;
  }
  .scrollTopBtn .scrollTopBtn__btn {
    width: 4.8rem;
    height: 4.8rem;
    background-size: 4.8rem;
  }
}

.pagination {
  display: flex;
  align-items: center;
  justify-content: center;
}
.pagination .icon {
  display: block;
}
.pagination .icon_page_prev {
  margin-right: 1.2rem;
}
.pagination .icon_page_next {
  margin-left: 1.2rem;
}
.pagination span {
  padding-top: 1rem;
  color: #888888;
  margin: 0 0.8rem;
}
.pagination a.is-disabled {
  opacity: 0.3;
}
.pagination a.is-disabled > .icon {
  cursor: default;
}
.pagination .num {
  padding: 0.4rem 0;
  width: 3.2rem;
  height: 3.2rem;
  border-radius: 50%;
  font-size: 1.5rem;
  text-align: center;
  background-color: #fff;
  color: #888888;
}
.pagination .num + .num {
  margin-left: 0.8rem;
}
.pagination .num.is-home {
  background-color: #EBEBEB;
  color: #111;
}
.pagination .num.is-active {
  background-color: #FF8E2A;
  color: #fff;
}

.form__input,
.form__textarea {
  width: 100%;
  border-radius: 0.4rem;
  border: 0.1rem solid #E8E8E8;
  outline: none;
}
.form__input:focus,
.form__textarea:focus {
  border-color: #111111;
}
.form__input:disabled,
.form__textarea:disabled {
  background-color: #F6F6F6;
  color: #c4c4c4;
}
.form__input.is-error,
.form__textarea.is-error {
  border-color: #FF5555;
}

.form__input {
  padding: 0 1.2rem;
  height: 4rem;
  font-family: "Noto Sans KR";
  transform: rotate(0.04deg);
  color: #111;
}

.form__textarea {
  padding: 0.8rem 1.2rem;
  resize: none;
  font-family: "Noto Sans KR";
  transform: rotate(0.04deg);
  color: #111;
}

input[type=file] {
  display: none;
}

.formGroup {
  display: flex;
  align-items: center;
  gap: 0.8rem;
}

@media screen and (min-width: 1312px) {
  .form__input, .form__textarea {
    font-size: 1.5rem;
  }
  .form__input {
    height: 4.8rem;
  }
  .form__textarea {
    padding: 0.8rem 1.2rem;
  }
  .formGroup {
    gap: 1.2rem;
  }
}
.drag__area {
  display: flex;
  overflow-x: auto;
}
.drag__area::-webkit-scrollbar {
  width: 1px;
  height: 1px;
}
.drag__area::-webkit-scrollbar-track {
  background-color: transparent;
  border-radius: 1px;
}
.drag__area::-webkit-scrollbar-thumb {
  background: transparent;
}
.drag__area::-webkit-scrollbar-thumb:hover {
  background: transparent;
}
.drag__area::-webkit-scrollbar-thumb:active {
  background: transparent;
}

::-webkit-scrollbar {
  width: 1px;
  height: 1px;
} /* 스크롤 바 */
.swiper.is-main-banner {
  --swiper-navigation-sides-offset: 2rem;
  margin: -2rem -2rem 0;
  padding: 0 2rem;
}
.swiper.is-main-banner .swiper-wrapper {
  align-items: center;
}
.swiper.is-main-banner .swiper-slide {
  overflow: hidden;
  height: 37rem;
  border-radius: 1.2rem;
  transition: height 0.3s;
}
.swiper.is-main-banner .swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.swiper.is-main-banner .swiper-slide.swiper-slide-active {
  height: 43rem;
  box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.08);
}
.swiper.is-main-banner .swiper-button-next,
.swiper.is-main-banner .swiper-button-prev {
  display: none;
  width: 4.8rem;
  height: 4.8rem;
}
.swiper.is-main-banner .swiper-button-next::after,
.swiper.is-main-banner .swiper-button-prev::after {
  display: none;
}
.swiper.is-main-banner .swiper-button-next {
  background-image: url("data:image/svg+xml,%3Csvg width='48' height='48' viewBox='0 0 48 48' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='24' cy='24' r='24' fill='black' fill-opacity='0.12'/%3E%3Cpath d='M21 16L29 24L21 32' stroke='white' stroke-width='2' stroke-linecap='round'/%3E%3C/svg%3E%0A");
}
.swiper.is-main-banner .swiper-button-prev {
  background-image: url("data:image/svg+xml,%3Csvg width='48' height='48' viewBox='0 0 48 48' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='24' cy='24' r='24' fill='black' fill-opacity='0.12'/%3E%3Cpath d='M27 16L19 24L27 32' stroke='white' stroke-width='2' stroke-linecap='round'/%3E%3C/svg%3E%0A");
}
.swiper.is-main-banner .swiper-pagination {
  bottom: 3.2rem;
}
@media screen and (max-width: 833px) {
  .swiper.is-main-banner .swiper-wrapper {
    height: 43rem;
  }
}
@media screen and (min-width: 834px) and (max-width: 1311px) {
  .swiper.is-main-banner {
    margin: -2.8rem -2.8rem 0;
    padding: 0 2.8rem;
  }
  .swiper.is-main-banner .swiper-wrapper {
    height: 47rem;
  }
  .swiper.is-main-banner .swiper-slide {
    height: 41rem;
  }
  .swiper.is-main-banner .swiper-slide.swiper-slide-active {
    height: 47rem;
  }
}
@media screen and (min-width: 1312px) {
  .swiper.is-main-banner {
    margin: -4rem 0 0;
    padding: 0;
  }
  .swiper.is-main-banner .swiper-wrapper {
    height: 60rem;
  }
  .swiper.is-main-banner .swiper-slide {
    height: 100%;
    border-radius: 2.4rem;
    box-shadow: none !important;
  }
  .swiper.is-main-banner .swiper-slide.swiper-slide-active {
    height: 100%;
  }
  .swiper.is-main-banner .swiper-button-next,
  .swiper.is-main-banner .swiper-button-prev {
    display: block;
  }
  .swiper.is-main-banner .swiper-pagination {
    bottom: 1.2rem;
  }
}
.swiper.is-main-gallery {
  --swiper-navigation-sides-offset: -8rem;
  margin: 0 -2rem;
  padding: 0 2rem;
}
.swiper.is-main-gallery .swiper-slide {
  width: 20.8rem !important;
}
.swiper.is-main-gallery .swiper-slide .main-gallery__image {
  overflow: hidden;
  height: 27.8rem !important;
  margin-bottom: 1.2rem;
  border-radius: 0.8rem;
}
.swiper.is-main-gallery .swiper-slide .main-gallery__image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.swiper.is-main-gallery .swiper-slide .main-gallery__title {
  font-weight: 700;
  font-size: 1.5rem;
  color: #111;
}
.swiper.is-main-gallery .swiper-slide .main-gallery__description {
  display: -webkit-box;
  overflow: hidden;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  margin-top: 0.4rem;
  font-size: 1.3rem;
  color: #888;
}
.swiper.is-main-gallery .swiper-button-next,
.swiper.is-main-gallery .swiper-button-prev {
  display: none;
  width: 4.8rem;
  height: 4.8rem;
}
.swiper.is-main-gallery .swiper-button-next::after,
.swiper.is-main-gallery .swiper-button-prev::after {
  display: none;
}
.swiper.is-main-gallery .swiper-button-next {
  background-image: url("data:image/svg+xml,%3Csvg width='48' height='48' viewBox='0 0 48 48' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='24' cy='24' r='24' fill='black' fill-opacity='0.12'/%3E%3Cpath d='M21 16L29 24L21 32' stroke='white' stroke-width='2' stroke-linecap='round'/%3E%3C/svg%3E%0A");
}
.swiper.is-main-gallery .swiper-button-prev {
  background-image: url("data:image/svg+xml,%3Csvg width='48' height='48' viewBox='0 0 48 48' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='24' cy='24' r='24' fill='black' fill-opacity='0.12'/%3E%3Cpath d='M27 16L19 24L27 32' stroke='white' stroke-width='2' stroke-linecap='round'/%3E%3C/svg%3E%0A");
}
@media screen and (min-width: 390px) and (max-width: 833px) {
  .swiper.is-main-gallery .swiper-slide {
    width: 22.8rem !important;
  }
  .swiper.is-main-gallery .swiper-slide .main-gallery__image {
    height: 30.4rem !important;
  }
}
@media screen and (min-width: 834px) and (max-width: 1311px) {
  .swiper.is-main-gallery {
    margin: 0 -2.8rem;
    padding: 0 2.8rem;
  }
}
@media screen and (min-width: 1312px) {
  .swiper.is-main-gallery {
    z-index: initial;
    margin: 0;
    padding: 0;
  }
  .swiper.is-main-gallery .swiper-slide {
    width: 27.6rem !important;
  }
  .swiper.is-main-gallery .swiper-slide .main-gallery__image {
    height: 35.2rem !important;
  }
  .swiper.is-main-gallery .swiper-button-next,
  .swiper.is-main-gallery .swiper-button-prev {
    display: block;
  }
}
.swiper.is-product-view {
  flex-shrink: 0;
  width: calc(100% + 4rem);
  margin: -3.2rem -2rem 0;
}
.swiper.is-product-view .swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  aspect-ratio: 1/1;
}
.swiper.is-product-view .swiper-button-next,
.swiper.is-product-view .swiper-button-prev {
  display: none;
}
@media screen and (min-width: 834px) and (max-width: 1311px) {
  .swiper.is-product-view {
    width: 37.9rem;
    height: 37.9rem;
    margin: 0;
  }
  .swiper.is-product-view .swiper-slide {
    overflow: hidden;
    border-radius: 1.2rem;
  }
}
@media screen and (min-width: 1312px) {
  .swiper.is-product-view {
    width: 52.8rem;
    height: 52.8rem;
    margin: 0;
  }
  .swiper.is-product-view .swiper-slide {
    overflow: hidden;
    border-radius: 1.2rem;
  }
}
.swiper .swiper-pagination {
  display: flex;
  left: 50%;
  bottom: 1.2rem;
  align-items: center;
  width: auto;
  padding: 0.4rem 1.2rem;
  border-radius: 99px;
  border: 0.1rem solid #EBEBEB;
  transform: translateX(-50%);
  font-size: 1.3rem;
  line-height: 1.15;
  color: #999;
  background-color: rgba(255, 255, 255, 0.8);
}
.swiper .swiper-pagination .swiper-pagination-current {
  font-weight: 700;
  color: #111;
}
.swiper .swiper-pagination .swiper-pagination-total {
  font-weight: 700;
}
.swiper .swiper-pagination .bar {
  width: 0.1rem;
  height: 1rem;
  margin: 0 0.4rem;
  background-color: #999;
}

.img__list {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-wrap: wrap;
  gap: 20px;
}
.img__list .img {
  width: 100%;
  height: auto;
  border: 1px solid #ddd;
  border-radius: 12px;
  overflow: hidden;
  object-fit: cover;
  aspect-ratio: 1/1;
}
.img__list .img__title {
  margin-top: 12px;
  color: #111111;
}
.img__list .img__info {
  margin-top: 4px;
  font-size: 13px;
  font-weight: 400;
  line-height: 18px;
  color: #888888;
}
.img__list.is-product {
  margin-top: 20px;
  gap: 16px;
}
.img__list.is-product > li {
  width: calc(50% - 8px);
}
.img__list.is-product .img__title {
  margin-top: 8px;
  font-size: 13px;
  font-weight: 500;
  line-height: 18px;
}
.img__list.is-gallery > li {
  width: 100%;
}
.img__list.is-gallery .img__title {
  font-size: 18px;
  font-weight: 700;
  line-height: 26px;
}

.tel__info {
  display: none;
  align-items: center;
  position: fixed;
  bottom: 18px;
  left: 20px;
  height: 44px;
  margin: 50px 0 0;
  padding: 0 24px;
  border-radius: 99px;
  color: #fff;
  font-weight: 700;
  background: linear-gradient(45deg, #FFA621, #FF862A);
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.08);
  font-size: 0;
}
.tel__info > p {
  display: inline-block;
}
.tel__info .info__title {
  font-size: 13px;
  font-weight: 500;
  margin-right: 16px;
}
.tel__info .info__title:before {
  content: "";
  display: inline-block;
  vertical-align: middle;
  width: 16px;
  height: 16px;
  margin: -3px 4px 0 0;
  background: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M14.6981 18.7498C11.1329 18.7452 7.71497 17.3241 5.19396 14.798C2.67295 12.272 1.25462 8.84736 1.25 5.27504C1.25 4.20756 1.67321 3.1838 2.42654 2.42898C3.17987 1.67416 4.2016 1.2501 5.26696 1.2501C5.49256 1.24838 5.71778 1.26889 5.93937 1.31135C6.15359 1.34311 6.36418 1.39586 6.56811 1.46885C6.71154 1.51927 6.83935 1.60634 6.9389 1.72143C7.03846 1.83653 7.1063 1.97566 7.13573 2.12509L8.33208 7.37501C8.36433 7.51751 8.36045 7.66584 8.32079 7.80645C8.28113 7.94706 8.20696 8.07549 8.10504 8.18C7.99152 8.3025 7.98278 8.31125 6.90868 8.87124C7.76883 10.762 9.27799 12.2803 11.1614 13.1499C11.729 12.0649 11.7378 12.0562 11.86 11.9424C11.9643 11.8403 12.0925 11.766 12.2328 11.7263C12.3732 11.6865 12.5212 11.6826 12.6634 11.7149L17.9029 12.9137C18.0473 12.9472 18.1807 13.0171 18.2907 13.1165C18.4007 13.216 18.4837 13.342 18.5317 13.4824C18.6054 13.6901 18.6609 13.9038 18.6976 14.1212C18.7327 14.3411 18.7503 14.5634 18.75 14.7861C18.7339 15.8491 18.2988 16.8624 17.5396 17.6051C16.7805 18.3477 15.759 18.7592 14.6981 18.7498Z' fill='white'/%3E%3C/svg%3E%0A") no-repeat center;
  background-size: 16px 16px;
}
.tel__info .info__tel {
  font-size: 0;
}
.tel__info .info__tel .tel {
  color: #fff;
  font-size: 15px;
  line-height: 44px;
}
.tel__info .info__tel .tel:not(:first-child):before {
  content: "";
  display: inline-block;
  vertical-align: middle;
  width: 4px;
  height: 4px;
  margin: 0 6px;
  background-color: rgba(255, 255, 255, 0.5);
}
.tel__info .info__tel .tel.home {
  display: none;
}

@media screen and (min-width: 834px) and (max-width: 1311px) {
  .img__list {
    gap: 20px;
  }
  .img__list .img {
    height: 213px;
  }
  .img__list.is-product {
    gap: 20px;
  }
  .img__list.is-product > li {
    width: calc(25% - 15px);
  }
  .img__list.is-product .img {
    border-radius: 8px;
  }
  .img__list.is-gallery > li {
    width: calc(50% - 20px);
  }
  .img__list.is-gallery .img__title {
    font-size: 18px;
    font-weight: 700;
    line-height: 26px;
  }
}
@media screen and (min-width: 1312px) {
  .img__list {
    gap: 32px;
  }
  .img__list .img {
    height: 234px;
  }
  .img__list .img__title {
    line-height: 20px;
  }
  .img__list .img__info {
    margin-top: 8px;
    font-size: 14px;
    line-height: 20px;
  }
  .img__list.is-product {
    gap: 20px;
  }
  .img__list.is-product > li {
    width: calc(25% - 15px);
  }
  .img__list.is-product .img__title {
    font-size: 15px;
    font-weight: 600;
    line-height: 20px;
  }
  .img__list.is-product .img {
    height: 304px;
  }
  .img__list.is-gallery > li {
    width: calc(33.3333333333% - 22px);
  }
  .tel__info {
    display: flex;
    align-items: center;
    position: static;
    width: 474px;
    height: 60px;
    margin: 88px 0 -68px;
    padding: 0 36px;
    border-radius: 99px;
    color: #fff;
    font-weight: 700;
    background: linear-gradient(45deg, #FFA621, #FF862A);
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.08);
  }
  .tel__info .info__title {
    font-size: 18px;
    font-weight: 500;
    margin-right: 28px;
  }
  .tel__info .info__title:before {
    content: "";
    display: inline-block;
    vertical-align: middle;
    width: 20px;
    height: 20px;
    margin-right: 4px;
    background: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M14.6981 18.7498C11.1329 18.7452 7.71497 17.3241 5.19396 14.798C2.67295 12.272 1.25462 8.84736 1.25 5.27504C1.25 4.20756 1.67321 3.1838 2.42654 2.42898C3.17987 1.67416 4.2016 1.2501 5.26696 1.2501C5.49256 1.24838 5.71778 1.26889 5.93937 1.31135C6.15359 1.34311 6.36418 1.39586 6.56811 1.46885C6.71154 1.51927 6.83935 1.60634 6.9389 1.72143C7.03846 1.83653 7.1063 1.97566 7.13573 2.12509L8.33208 7.37501C8.36433 7.51751 8.36045 7.66584 8.32079 7.80645C8.28113 7.94706 8.20696 8.07549 8.10504 8.18C7.99152 8.3025 7.98278 8.31125 6.90868 8.87124C7.76883 10.762 9.27799 12.2803 11.1614 13.1499C11.729 12.0649 11.7378 12.0562 11.86 11.9424C11.9643 11.8403 12.0925 11.766 12.2328 11.7263C12.3732 11.6865 12.5212 11.6826 12.6634 11.7149L17.9029 12.9137C18.0473 12.9472 18.1807 13.0171 18.2907 13.1165C18.4007 13.216 18.4837 13.342 18.5317 13.4824C18.6054 13.6901 18.6609 13.9038 18.6976 14.1212C18.7327 14.3411 18.7503 14.5634 18.75 14.7861C18.7339 15.8491 18.2988 16.8624 17.5396 17.6051C16.7805 18.3477 15.759 18.7592 14.6981 18.7498Z' fill='white'/%3E%3C/svg%3E%0A") no-repeat center;
  }
  .tel__info .info__tel {
    font-size: 0;
  }
  .tel__info .info__tel .tel {
    font-size: 20px;
  }
  .tel__info .info__tel .tel:not(:first-child):before {
    content: "";
    display: inline-block;
    vertical-align: middle;
    width: 4px;
    height: 4px;
    margin: 0 6px;
    background-color: rgba(255, 255, 255, 0.5);
  }
  .tel__info .info__tel .tel.home {
    display: inline-block;
  }
}
.img__view {
  color: #111111;
}
.img__view .view__title {
  font-size: 24px;
  font-weight: 700;
  line-height: 32px;
  letter-spacing: -0.2px;
}
.img__view .view__info {
  font-size: 15px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: -0.2px;
}
.img__view .view__img {
  margin-top: 20px;
}
.img__view .view__img .img {
  width: 100%;
  height: auto;
  border-radius: 8px;
  overflow: hidden;
}
.img__view .view__img .img:not(:first-child) {
  margin-top: 20px;
}
.img__view .view__img .img img {
  width: 100%;
}
.img__view .breadcrumb {
  display: none;
}
.img__view.is-gallery {
  padding: 0;
}
.img__view.is-gallery .view__info {
  margin-top: 8px;
}
.img__view.is-product {
  margin-top: 12px;
}
.img__view.is-product .view__detail {
  display: flex;
  flex-direction: column;
}
.img__view.is-product .view__detail .detail {
  width: 100%;
  margin: 24px 0 0;
}
.img__view.is-product .view__desc {
  margin-top: 12px;
}
.img__view.is-product .view__desc .info {
  display: flex;
  color: #666666;
  font-size: 13px;
  letter-spacing: -0.2px;
}
.img__view.is-product .view__desc .info:not(:first-child) {
  margin-top: 8px;
}
.img__view.is-product .view__desc .info .title {
  min-width: 68px;
  font-weight: 500;
  line-height: 18px;
}
.img__view.is-product .view__desc .info .desc {
  font-weight: 700;
  line-height: 18px;
}
.img__view.is-product .view__desc .title {
  color: #666666;
  font-size: 13px;
  font-weight: 400;
  line-height: 18px;
}
.img__view.is-product .view__info {
  margin-top: 20px;
  padding-top: 20px;
  border-top: 1px solid #eee;
}

@media screen and (min-width: 834px) and (max-width: 1311px) {
  .img__view .view__title {
    line-height: 34.75px;
  }
  .img__view.is-product .view__detail {
    flex-direction: row;
  }
  .img__view.is-product .view__detail .detail {
    margin: 0 0 0 28px;
  }
  .img__view.is-product .view__img {
    margin-top: 28px;
  }
  .img__view.is-gallery .view__img {
    margin-top: 28px;
  }
}
@media screen and (min-width: 1312px) {
  .img__view .breadcrumb {
    display: block;
    margin: 0 0 24px;
    font-size: 0;
  }
  .img__view .breadcrumb > span {
    color: #888888;
    font-size: 12px;
    font-weight: 500;
    line-height: 14px;
  }
  .img__view .breadcrumb > span:not(:first-child):before {
    content: "";
    display: inline-block;
    width: 8px;
    height: 8px;
    margin: 0 4px;
    background-image: url("data:image/svg+xml,%3Csvg width='8' height='8' viewBox='0 0 8 8' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M3 2L5 4L3 6' stroke='%23888888' stroke-linecap='round'/%3E%3C/svg%3E%0A");
  }
  .img__view.is-gallery .view__title {
    font-size: 28px;
    line-height: 36px;
  }
  .img__view.is-gallery .view__info {
    margin-top: 24px;
    font-size: 16px;
    line-height: 30px;
  }
  .img__view .view__img {
    margin-top: 40px;
  }
  .img__view.is-product .view__detail {
    flex-direction: row;
  }
  .img__view.is-product .view__detail .detail {
    margin: 0 0 0 32px;
  }
  .img__view.is-product .view__desc {
    margin-top: 16px;
  }
  .img__view.is-product .view__desc .info {
    font-size: 14px;
    line-height: 18px;
  }
  .img__view.is-product .view__info {
    margin-top: 24px;
    padding-top: 25px;
  }
  .img__view.is-product .view__img {
    margin-top: 40px;
  }
  .img__view.is-product .view__img .img:not(:first-child) {
    margin-top: 40px;
  }
}
/* contents */
@media screen and (max-width: 833px) {
  main {
    padding: 2rem;
  }
  main.main .tel__info {
    display: flex;
  }
  main.board {
    padding: 0 0 6rem;
  }
  main.board:has(.qna) {
    padding-bottom: 8rem;
  }
  main.board.is-qna {
    padding-bottom: 12rem;
  }
  main.board.is-qna + .scrollTopBtn {
    padding-bottom: 0;
    bottom: 8rem;
  }
  main.product {
    padding: 0;
  }
  main > * {
    padding: 2rem;
  }
}
@media screen and (min-width: 834px) and (max-width: 1311px) {
  main {
    padding: 2.8rem;
  }
  main.board {
    padding-bottom: 8rem;
  }
  main.board + .scrollTopBtn {
    display: none;
  }
  main.product {
    padding: 0;
  }
  main.product > * {
    padding: 2.8rem;
  }
}
@media screen and (min-width: 1312px) {
  main {
    width: 1312px;
    margin: auto;
    padding: 4rem 0;
  }
  main.board {
    padding: 4rem 0 12rem;
  }
  main.board + .scrollTopBtn {
    padding-bottom: 2rem;
  }
  main.product {
    padding-top: 0;
  }
  main.product .navigation {
    margin-bottom: 40px;
  }
  main.product:not(:has(.navigation)) {
    margin-top: 40px;
  }
  main.product:not(:has(.navigation)) .img__view {
    margin-top: 0;
  }
}

.toggleBody {
  height: 0;
  overflow: hidden;
  transition: height ease 0.4s;
}

.toggleBtn {
  cursor: pointer;
}
.toggleBtn .icon_toggle_arrow {
  transform: rotate(0);
  transition: transform ease 0.3s;
}
.toggleBtn.is-active .icon_toggle_arrow {
  transform: rotate(-180deg);
  transition: transform ease 0.3s;
}

.board .qna {
  padding-bottom: 6rem;
}
.board .board__list {
  margin-top: -2rem;
}
.board .board__list .board__listItem {
  border-bottom: 0.1rem solid #eee;
}
.board .board__list .board__header {
  position: relative;
  padding: 1.6rem 2.8rem 1.7rem 0;
}
.board .board__list .board__header .icon {
  position: absolute;
  top: 1.6rem;
  right: 0;
}
.board .board__list .board__header .tag {
  padding: 0.4rem 0.75rem;
  display: inline-block;
  border-radius: 999rem;
  border: 0.1rem solid #ddd;
  font-size: 1rem;
  line-height: 1;
  color: #888888;
}
.board .board__list .board__header .tag.is-complete {
  font-weight: 500;
  background-color: #444444;
  border-color: #444444;
  color: #fff;
}
.board .board__title {
  font-size: 1.6rem;
  font-weight: 500;
}
.board .board__info {
  margin-top: 0.4rem;
  display: flex;
  align-items: center;
}
.board .board__info span {
  position: relative;
  font-size: 1.2rem;
  color: #888888;
}
.board .board__info span + span {
  margin-left: 1.3rem;
}
.board .board__info span + span::before {
  content: "";
  position: absolute;
  top: 50%;
  left: -0.7rem;
  width: 0.1rem;
  height: 1.3rem;
  background-color: #ddd;
  transform: translateY(-50%);
}
.board .board__info + .tag {
  margin-top: 0.8rem;
}
.board .board__footer {
  position: fixed;
  left: 0;
  bottom: 0;
  padding: 0 2rem;
  width: 100%;
  height: 6rem;
}
.board .board__footer .pagination {
  display: none;
}
.board .board__footer .btn {
  width: 100%;
}
.board .board__flex + .board__form {
  margin-top: 2rem;
}
.board .board__form + .board__form {
  margin-top: 2rem;
}
.board .board__form .board__formLabel {
  margin-bottom: 0.8rem;
  color: #666666;
}
.board .board__form .formControl {
  flex-grow: 1;
}
.board .board__form .form__textarea {
  height: 20rem;
}
.board .board__write {
  padding-bottom: 6rem;
}
.board .file .file__list {
  margin-top: 0.6rem;
}
.board .file .file__list li + li {
  margin-top: 0.7rem;
}
.board .file .file__list li.is-empty {
  color: #888888;
  font-size: 1.2rem;
}
.board .file .file__list li span {
  display: inline-block;
  max-width: calc(100% - 2.4rem);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 1.2rem;
  vertical-align: middle;
}
.board .file .file__list .file__delete {
  display: inline-block;
  width: 2rem;
  height: 2rem;
  margin-left: 0.4rem;
  vertical-align: middle;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_217_19190)'%3E%3Ccircle cx='10' cy='10' r='8' fill='%23CCCCCC'/%3E%3Cpath d='M13.5 6.5L6.5 13.5' stroke='white' stroke-linecap='round'/%3E%3Cpath d='M6.5 6.5L13.5 13.5' stroke='white' stroke-linecap='round'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_217_19190'%3E%3Crect width='20' height='20' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");
}
.board .board__password .board__form {
  justify-content: center;
}
.board .board__password .board__form .formControl {
  width: 40rem;
}
.board .board__password .btn {
  flex-shrink: 0;
  width: 6.8rem;
}
.board .board__detail {
  padding-bottom: 6rem;
}
.board .board__detail .board__title {
  font-weight: 700;
}
.board .board__detail .board__detailBtn {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 4rem;
  padding-top: 2.4rem;
  border-top: 0.1rem solid #ddd;
}
.board .board__detail .board__detailBtn .btn {
  min-width: 6.8rem;
}
.board .board__detail .board__detailBody {
  margin-top: 2rem;
}
.board .board__detail .board__detailBody p {
  font-size: 1.4rem;
  line-height: 2.4rem;
}
.board .board__detail .board__detailImg {
  margin-top: 2rem;
}
.board .board__detail .board__detailFile {
  margin-top: 2rem;
  padding-top: 2rem;
  border-top: 0.1rem solid #eee;
}
.board .board__detail .board__detailFile .board__detailFileLabel {
  width: 8rem;
  color: #666666;
}
.board .board__detail .board__detailFile .board__detailFileList {
  margin-top: 0.8rem;
}
.board .board__detail .board__detailFile .board__detailFileList li + li {
  margin-top: 0.2rem;
}
.board .board__detail .board__detailFile .board__detailFileList li a {
  text-decoration: underline;
  font-size: 1.2rem;
}
.board .board__detail .board__detailComment {
  margin-top: 4rem;
  padding: 1.6rem;
  border-radius: 0.8rem;
  line-height: 2.4rem;
  background-color: #F6F6F6;
}
.board .board__detail .board__detailComment .label {
  font-weight: 700;
}

.notice .notice__contents {
  padding: 1.6rem;
  border-radius: 0.8rem;
  line-height: 2.4rem;
  background-color: #F6F6F6;
}

@media screen and (min-width: 834px) and (max-width: 1311px) {
  .board .board__title {
    font-size: 1.6rem;
  }
  .board .board__list {
    margin-top: -2.8rem;
  }
  .board .board__list .board__header {
    padding: 1.6rem 2.8rem 1.6rem 0;
  }
  .board .file .file__list {
    display: flex;
    flex-wrap: wrap;
    gap: 0.7rem 1.2rem;
  }
  .board .file .file__list li + li {
    margin-top: 0;
  }
  .board .file .file__list li span {
    max-width: 32.6rem;
  }
}
@media screen and (min-width: 1312px) {
  .board .board__list {
    margin-top: 0;
  }
  .board .board__list .board__header {
    padding: 2rem 2.8rem 2rem 0;
  }
  .board .board__list .board__header .icon {
    top: 2rem;
  }
  .board .board__title {
    font-size: 1.8rem;
  }
  .board .board__info {
    margin-top: 0.6rem;
  }
  .board .board__info + .tag {
    margin-top: 1rem;
  }
  .board .board__info span {
    font-size: 1.3rem;
  }
  .board .board__write,
  .board .board__detail,
  .board .qna {
    padding-bottom: 0;
  }
  .board .board__footer {
    position: relative;
    left: auto;
    bottom: auto;
    padding: 0;
    justify-content: center;
    margin-top: 4rem;
    display: flex;
  }
  .board .board__footer:has(.btn) {
    margin-top: 2.4rem;
    justify-content: flex-end;
  }
  .board .board__footer:has(.btn) .pagination {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
  }
  .board .board__footer .pagination {
    display: flex;
  }
  .board .board__footer .btn {
    width: auto;
  }
  .board .board__form {
    display: flex;
  }
  .board .board__form .board__formLabel {
    margin-bottom: 0;
    padding-top: 1.2rem;
    width: 8rem;
    flex-shrink: 0;
    font-size: 1.5rem;
  }
  .board .board__form .form__textarea {
    height: 40rem;
  }
  .board .board__flex {
    display: flex;
    gap: 3.2rem;
  }
  .board .board__flex .board__form {
    margin-top: 0;
  }
  .board .board__flex.is-col-3 .board__form {
    width: calc(100% - 6.4rem);
  }
  .board .file .file__list {
    margin-top: 0.8rem;
  }
  .board .file .file__list li {
    display: inline-block;
  }
  .board .file .file__list li + li {
    margin-left: 0.8rem;
    margin-top: 0;
  }
  .board .file .file__list li.is-empty {
    font-size: 1.3rem;
  }
  .board .file .file__list li span {
    max-width: 35.3rem;
    font-size: 1.3rem;
  }
  .board .board__password {
    padding: 12rem 0 16.5rem;
  }
  .board .board__password .board__formLabel {
    width: 18rem;
  }
  .board .board__password .btn {
    min-width: 10rem;
  }
  .board .board__detail .board__title {
    font-weight: 500;
  }
  .board .board__detail .board__info {
    margin-top: 0.8rem;
  }
  .board .board__detail .board__detailBody p {
    font-size: 1.5rem;
    line-height: 2.8rem;
  }
  .board .board__detail .board__detailFile {
    display: flex;
  }
  .board .board__detail .board__detailFile .board__detailFileLabel {
    width: 8rem;
    flex-shrink: 0;
  }
  .board .board__detail .board__detailFile .board__detailFileList {
    margin-top: 0;
    display: flex;
    flex-wrap: wrap;
    gap: 1.2rem;
  }
  .board .board__detail .board__detailFile .board__detailFileList li + li {
    margin-top: 0;
  }
  .board .board__detail .board__detailFile .board__detailFileList li a {
    font-size: 1.3rem;
  }
  .board .board__detail .board__detailComment {
    padding: 4rem;
    font-size: 1.5rem;
    line-height: 2.8rem;
  }
  .board .board__detail .board__detailBtn .btn {
    min-width: 10rem;
  }
  .notice .notice__contents {
    padding: 4rem;
    font-size: 1.5rem;
    line-height: 2.8rem;
  }
}
.main .swiper.is-main-banner {
  padding-bottom: 2rem;
}
.main .main__content .is-more {
  margin: 2rem auto 0;
}
.main .main__content + .main__content {
  margin-top: 2.8rem;
}
.main .main__content-header {
  display: flex;
  justify-content: center;
  margin-bottom: 0.8rem;
}
.main .main__content-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 1.6rem 0;
}
.main .main__content-title h1 {
  font-weight: 700;
  font-size: 2rem;
}
.main .main__content-title span {
  width: 2.4rem;
  height: 2.4rem;
  margin-right: -1rem;
  text-indent: -999em;
  color: transparent;
  background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_316_18066)'%3E%3Cpath d='M9 6.5L15 12L9 17.5' stroke='%23111111' stroke-width='1.5' stroke-linecap='round'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_316_18066'%3E%3Crect width='24' height='24' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");
}
.main .main-popular {
  display: grid;
  grid-template-columns: repeat(4, minmax(0, 1fr));
  gap: 1.6rem;
}
.main .main-popular span {
  display: block;
  overflow: hidden;
  border-radius: 50%;
  border: 0.1rem solid #EEE;
}
.main .main-popular span img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  aspect-ratio: 1/1;
}
.main .main-popular p {
  display: -webkit-box;
  overflow: hidden;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  padding-top: 0.6rem;
  font-weight: 500;
  font-size: 1.3rem;
  text-align: center;
  line-height: 1.38;
  color: #111;
}
.main .main__content-btn-wrap {
  display: flex;
  justify-content: center;
}
.main .main__content-inner + .main__content-inner {
  margin-top: 2.8rem;
}
.main .main__content-inner .main__board-list {
  margin-top: -0.8rem;
}
.main .main__content-inner .main__board-item {
  border-bottom: 0.1rem solid #EEE;
}
.main .main__content-inner .main__board-item a {
  display: block;
  padding: 1.2rem 0;
  font-weight: 500;
  font-size: 1.4rem;
  line-height: 1.45;
}
@media screen and (min-width: 834px) and (max-width: 1311px) {
  .main .main-popular {
    grid-template-columns: repeat(8, minmax(0, 1fr));
    gap: 1.6rem 2rem;
  }
}
@media screen and (min-width: 1312px) {
  .main .main__content + .main__content {
    margin-top: 6rem;
  }
  .main .main__content.is-between {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: 3.2rem;
  }
  .main .main__content.is-between .main__content-inner {
    padding: 4rem;
    border-radius: 1.2rem;
    background-color: #F8F8F8;
  }
  .main .main__content.is-between .main__content-inner + .main__content-inner {
    margin-top: 0;
  }
  .main .main__content.is-between .main__content-inner .main__content-header {
    justify-content: flex-start;
    margin-bottom: 2.4rem;
  }
  .main .main__content.is-between .main__content-inner .main__content-title h1 {
    font-size: 2.8rem;
  }
  .main .main__content.is-between .main__content-inner .main__board-item {
    background-color: #FFF;
  }
  .main .main__content.is-between .main__content-inner .main__board-item a {
    padding-bottom: 1.4rem;
    font-size: 1.5rem;
  }
  .main .swiper.is-main-banner {
    margin-bottom: 6rem;
    padding: 0 !important;
  }
  .main .main__content .is-more {
    display: none;
  }
  .main .main__content-header {
    margin-bottom: 2.8rem;
  }
  .main .main__content-title {
    display: inline-flex;
    justify-content: center;
    width: auto;
    padding: 0;
  }
  .main .main__content-title h1 {
    font-weight: 400;
    font-size: 3.2rem;
    line-height: 1.03;
  }
  .main .main__content-title span {
    display: inline-flex;
    align-items: center;
    width: auto;
    height: auto;
    margin-left: 2rem;
    margin-right: 0;
    padding: 0.8rem 1.6rem;
    border-radius: 999px;
    border: 0.1rem solid #DDD;
    text-indent: 0;
    font-size: 1.2rem;
    line-height: 1.5;
    color: #111;
    background-image: none;
  }
  .main .main__content-title span::before {
    content: "";
    width: 1.2rem;
    height: 1.2rem;
    margin-right: 0.4rem;
    background-image: url("data:image/svg+xml,%3Csvg width='12' height='12' viewBox='0 0 12 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cline x1='1.75' y1='6' x2='10.25' y2='6' stroke='%23111111' stroke-width='1.5' stroke-linecap='round'/%3E%3Cline x1='6' y1='1.75' x2='6' y2='10.25' stroke='%23111111' stroke-width='1.5' stroke-linecap='round'/%3E%3C/svg%3E%0A");
  }
  .main .main__content-title:focus span, .main .main__content-title:active span {
    border-color: #FF8E2A;
    color: #fff;
    background-color: #FF8E2A;
  }
  .main .main__content-title:focus span::before, .main .main__content-title:active span::before {
    background-image: url("data:image/svg+xml,%3Csvg width='12' height='12' viewBox='0 0 12 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cline x1='1.75' y1='6' x2='10.25' y2='6' stroke='white' stroke-width='1.5' stroke-linecap='round'/%3E%3Cline x1='6' y1='1.75' x2='6' y2='10.25' stroke='white' stroke-width='1.5' stroke-linecap='round'/%3E%3C/svg%3E%0A");
  }
  .main .main-popular {
    grid-template-columns: repeat(8, minmax(0, 1fr));
    gap: 1.6rem 3.2rem;
  }
  .main .main-popular p {
    font-size: 1.5rem;
  }
  .main .main-gallery {
    overflow: hidden;
    position: relative;
    padding: 0 8rem;
  }
  .main .main-gallery::before, .main .main-gallery::after {
    content: "";
    z-index: 2;
    position: absolute;
    top: 0;
    bottom: 0;
    width: 8rem;
    background-color: #FFF;
  }
  .main .main-gallery::before {
    left: 0;
  }
  .main .main-gallery::after {
    right: 0;
  }
  .main .main-gallery .swiper {
    overflow: initial;
  }
}

.shadowBox {
  width: 100%;
  height: 8px;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.03) 0%, rgba(0, 0, 0, 0) 100%);
  position: absolute;
}

@media screen and (max-width: 1311px) {
  .onlyPc {
    display: none !important;
  }
}
@media screen and (min-width: 1312px) {
  .notPc {
    display: none !important;
  }
}