// button
.btn {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;

    &.is-primary {
        padding: 0 6rem;
        height: 4.8rem;
        border-radius: 0.8rem;
        font-size: 1.6rem;
        font-weight: 700;
        color: #fff;
        background-color: $primary;

        &:focus, &:active, &:hover {
            background-color: #CA6307;
        }
    }

    &.is-secondary {
        padding: 0 1.2rem;
        height: 4rem;
        font-size: 1.4rem;
        font-weight: 500;
        border-radius: 0.4rem;
        border: 0.1rem solid $gray-111;
        font-family: 'Noto Sans KR';
        transform: rotate(0.04deg);
        color: #111;

        &:focus,
        &:active,
        &:hover {
            background-color: $primary;
            border-color: $primary;
            color: #fff;
        }
    }

    &.is-more {
        position: relative;
        gap: 0.4rem;
        padding: 0 4rem 0 2rem;
        height: 3.6rem;
        border-radius: 999rem;
        border: 0.1rem solid #E8E8E8;
        font-size: 1.3rem;
        background-color: #fff;

        strong {
        
        }

        &::after {
            content: '';
            position: absolute;
            top: 50%;
            right: 2rem;
            width: 1.2rem;
            height: 1.2rem;
            transform: translateY(-50%);
            background-image: url('/assets/images/icon/icon-more-arrow.svg');
        }

        &:focus,
        &:active,
        &:hover {
            background-color: $primary;
            border-color: $primary;
            color: #fff;

            strong {
                color: #fff !important;
            }

            &::after {
                background-image: url('/assets/images/icon/icon-more-arrow-white.svg');
            }
        }
    }



    // PC
    @media screen and (min-width: #{$breakpoint-pc}) {
        &.is-more {
            height: 3.2rem;
            padding: 0rem 1.6rem 0rem 3.2rem;
            font-size: 1.2rem;

            strong {
                display: none;
            }

            &::after {
                left: 1.6rem;
                background-image: url('/assets/images/icon/icon-more-plus.svg');
            }

            &:focus,
            &:active,
            &:hover {
                &::after {
                    background-image: url('/assets/images/icon/icon-more-plus-white.svg');
                }
            }
        }

        &.is-secondary {
            padding: 0 1.6rem;
            height: 4.8rem;
            font-size: 1.5rem;
        }
    }
}

.scrollTopBtn {
    position: fixed;
    display: flex;
    justify-content: flex-end;
    padding-bottom: 2rem;
    bottom: 0;
    right: 1.6rem;
    z-index: 100;
    opacity: 1;
    transition: opacity ease 0.3s;

    &.is-hide {
        opacity: 0;
        transition: opacity ease 0.3s;
    }
    
    .scrollTopBtn__btn {
        width: 4rem;
        height: 4rem;
        border-radius: 50%;
        background-repeat: no-repeat;
        background-position: center;
        background-size: 4rem;
        background-image: url("data:image/svg+xml,%3Csvg width='48' height='48' viewBox='0 0 48 48' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='24' cy='24' r='23.5' fill='white' fill-opacity='0.6' stroke='%23EEEEEE'/%3E%3Cpath d='M24.0004 16.1992V32.3992' stroke='%23666666' stroke-width='2' stroke-linecap='round'/%3E%3Cpath d='M17.4004 22.1992L24.0004 15.5992L30.6004 22.1992' stroke='%23666666' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
    }

    @media screen and (min-width: #{$breakpoint-tablet}) and (max-width: #{$breakpoint-pc - 1px}) {
        right: 2rem;
    }

    @media screen and (min-width: #{$breakpoint-pc}) {
        position: sticky;
        width: $breakpoint-pc;
        margin: 0 auto;

        .scrollTopBtn__btn {
            width: 4.8rem;
            height: 4.8rem;
            background-size: 4.8rem;
        }
    }

}