
// input
.form__input,
.form__textarea {
    width: 100%;
    border-radius: 0.4rem;
    border: 0.1rem solid #E8E8E8;
    outline: none;

    &:focus {
        border-color: $gray-111;
    }


    &:disabled {
        background-color: #F6F6F6;
        color: #c4c4c4;
    }

    &.is-error {
        border-color: #FF5555;
    }
}

.form__input {
    padding: 0 1.2rem;
    height: 4rem;
}

.form__textarea {
    padding: 0.8rem 1.2rem;
    resize: none;
}

//file
input[type=file]{
    display: none;
}

.formGroup {
    display: flex;
    align-items: center;
    gap: 0.8rem;
}

// MO
@media screen and (max-width: #{$breakpoint-tablet - 1px}) {
    
}

// Tablet
@media screen and (min-width: #{$breakpoint-tablet}) and (max-width: #{$breakpoint-pc - 1px}) {
    
}

// PC
@media screen and (min-width: #{$breakpoint-pc}) {
    .form__input, .form__textarea {
        font-size: 1.5rem;
    }

    .form__input {
        height: 4.8rem;
    }

    .form__textarea {
        padding: 0.8rem 1.2rem;
    }

    .formGroup {
        gap: 1.2rem;
    }
}