
.img__list {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-wrap: wrap;
  margin: -10px 0 0;

  > li {
    margin: 10px 0;
  }

  .img {
    width: 100%;
    height: auto;
    border: 1px solid #ddd;
    border-radius: 12px;
    overflow: hidden;
    object-fit: cover;
  }
  .img__title {
    margin-top: 12px;
    color: $gray-111;
  }

  .img__info {
    margin-top: 4px;
    font-size: 13px;
    font-weight: 400;
    line-height: 18px;
    color: $gray-888;
  }

  // product list
  &.is-product {
    margin: -8px -8px 42px;
    > li {
      width: calc((100% / 2) - 16px);
      margin: 8px;
    }
    .img__title {
      margin-top: 8px;
      font-size: 13px;
      font-weight: 500;
      line-height: 18px;
    }
  }

  // gallery list
  &.is-gallery {
    > li {
      width: 100%;
    }
    .img__title {
      font-size: 18px;
      font-weight: 700;
      line-height: 26px;
    }
  }
}
.tel__info {
  display: inline-flex;
  align-items: center;
  height: 44px;
  margin: 50px 0 0;
  padding: 0 24px;
  border-radius: 99px;
  color: #fff;
  font-weight: 700;
  background: linear-gradient(45deg, #FFA621, #FF862A);
  box-shadow: 0px 4px 8px rgba(0,0,0,0.08);
  font-size: 0;

  > p {
    display: inline-block;
  }
  .info__title {
    font-size: 13px;
    font-weight: 500;
    margin-right: 16px;
    &:before {
      content: "";
      display: inline-block;
      vertical-align: middle;
      width: 16px;
      height: 16px;
      margin-right: 4px;
      background: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M14.6981 18.7498C11.1329 18.7452 7.71497 17.3241 5.19396 14.798C2.67295 12.272 1.25462 8.84736 1.25 5.27504C1.25 4.20756 1.67321 3.1838 2.42654 2.42898C3.17987 1.67416 4.2016 1.2501 5.26696 1.2501C5.49256 1.24838 5.71778 1.26889 5.93937 1.31135C6.15359 1.34311 6.36418 1.39586 6.56811 1.46885C6.71154 1.51927 6.83935 1.60634 6.9389 1.72143C7.03846 1.83653 7.1063 1.97566 7.13573 2.12509L8.33208 7.37501C8.36433 7.51751 8.36045 7.66584 8.32079 7.80645C8.28113 7.94706 8.20696 8.07549 8.10504 8.18C7.99152 8.3025 7.98278 8.31125 6.90868 8.87124C7.76883 10.762 9.27799 12.2803 11.1614 13.1499C11.729 12.0649 11.7378 12.0562 11.86 11.9424C11.9643 11.8403 12.0925 11.766 12.2328 11.7263C12.3732 11.6865 12.5212 11.6826 12.6634 11.7149L17.9029 12.9137C18.0473 12.9472 18.1807 13.0171 18.2907 13.1165C18.4007 13.216 18.4837 13.342 18.5317 13.4824C18.6054 13.6901 18.6609 13.9038 18.6976 14.1212C18.7327 14.3411 18.7503 14.5634 18.75 14.7861C18.7339 15.8491 18.2988 16.8624 17.5396 17.6051C16.7805 18.3477 15.759 18.7592 14.6981 18.7498Z' fill='white'/%3E%3C/svg%3E%0A") no-repeat center;
      background-size: 16px 16px;
    }
  }
  .info__tel {
    font-size: 0;
    .tel {
      color: #fff;
      font-size: 15px;
      line-height: 44px;
      &:not(:first-child) {
        &:before {
          content: "";
          display: inline-block;
          vertical-align: middle;
          width: 4px;
          height: 4px;
          margin: 0 6px;
          background-color: rgba(255,255,255,0.5);
        }
      }
      &.home {
        display: none;
      }
    }
  }
}  

// Tablet
@media screen and (min-width: #{$breakpoint-tablet}) and (max-width: #{$breakpoint-pc - 1px}) {
  .img__list {
    margin: -10px -10px;

    > li {
      margin: 10px;
    }
    .img {
      height: 213px;
    }

    // product list
    &.is-product {
      margin: -8px -10px;
      > li {
        width: calc((100% / 4) - 20px);
        margin: 8px 10px;
      }
    }

    // gallery list
    &.is-gallery {
      > li {
        width: calc((100% / 2) - 20px);
      }
      .img__title {
        font-size: 18px;
        font-weight: 700;
        line-height: 26px;
      }
    }
  }

}

// PC
@media screen and (min-width: #{$breakpoint-pc}) {
  .img__list {
    margin: -16px;
  
    > li {
      margin: 16px 16px;
    }
    .img {
      height: 234px;
      border-radius: 8px;
    }
    .img__title {
      line-height: 20px;
    }
  
    .img__info {
      margin-top: 8px;
      font-size: 14px;
      line-height: 20px;
    }
  
    // product list
    &.is-product {    
      > li {
        width: calc((100% / 4) - 32px);
        margin: 16px;
      }
      .img__title {
        font-size: 15px;
        font-weight: 600;
        line-height: 20px;
      }
    }
  
    // gallery list
    &.is-gallery {
      > li {
        width: calc((100% / 3) - 32px);
      }
    }
  }
  
  .tel__info {
    display: flex;
    align-items: center;
    width: 474px;
    height: 60px;
    margin: 88px 0 0;
    padding: 0 36px;
    border-radius: 99px;
    color: #fff;
    font-weight: 700;
    background: linear-gradient(45deg, #FFA621, #FF862A);
    box-shadow: 0px 4px 8px rgba(0,0,0,0.08);
  
    .info__title {
      font-size: 18px;
      font-weight: 500;
      margin-right: 28px;
      &:before {
        content: "";
        display: inline-block;
        vertical-align: middle;
        width: 20px;
        height: 20px;
        margin-right: 4px;
        background: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M14.6981 18.7498C11.1329 18.7452 7.71497 17.3241 5.19396 14.798C2.67295 12.272 1.25462 8.84736 1.25 5.27504C1.25 4.20756 1.67321 3.1838 2.42654 2.42898C3.17987 1.67416 4.2016 1.2501 5.26696 1.2501C5.49256 1.24838 5.71778 1.26889 5.93937 1.31135C6.15359 1.34311 6.36418 1.39586 6.56811 1.46885C6.71154 1.51927 6.83935 1.60634 6.9389 1.72143C7.03846 1.83653 7.1063 1.97566 7.13573 2.12509L8.33208 7.37501C8.36433 7.51751 8.36045 7.66584 8.32079 7.80645C8.28113 7.94706 8.20696 8.07549 8.10504 8.18C7.99152 8.3025 7.98278 8.31125 6.90868 8.87124C7.76883 10.762 9.27799 12.2803 11.1614 13.1499C11.729 12.0649 11.7378 12.0562 11.86 11.9424C11.9643 11.8403 12.0925 11.766 12.2328 11.7263C12.3732 11.6865 12.5212 11.6826 12.6634 11.7149L17.9029 12.9137C18.0473 12.9472 18.1807 13.0171 18.2907 13.1165C18.4007 13.216 18.4837 13.342 18.5317 13.4824C18.6054 13.6901 18.6609 13.9038 18.6976 14.1212C18.7327 14.3411 18.7503 14.5634 18.75 14.7861C18.7339 15.8491 18.2988 16.8624 17.5396 17.6051C16.7805 18.3477 15.759 18.7592 14.6981 18.7498Z' fill='white'/%3E%3C/svg%3E%0A") no-repeat center;
      }
    }
    .info__tel {
      font-size: 0;
      .tel {
        font-size: 20px;
        &:not(:first-child) {
          &:before {
            content: "";
            display: inline-block;
            vertical-align: middle;
            width: 4px;
            height: 4px;
            margin: 0 6px;
            background-color: rgba(255,255,255,0.5);
          }
        }
        &.home {
          display: inline-block;
        }
      }
    }
  }  
}
