.swiper {
  // main banner
  &.is-main-banner {
    --swiper-navigation-sides-offset: 2rem;

    margin-top: -2rem;
    padding: 0 2rem;

    .swiper-wrapper {
      align-items: center;
    }

    .swiper-slide {
      overflow: hidden;
      height: 37rem;
      border-radius: 1.2rem;
      transition: height 0.3s;

      img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
      

      &.swiper-slide-active {
        height: 43rem;
        box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.08);
      }
    }

    .swiper-button-next,
    .swiper-button-prev {
      display: none;
      width: 4.8rem;
      height: 4.8rem;

      &::after {
        display: none;
      }
    }

    .swiper-button-next {
      background-image: url("data:image/svg+xml,%3Csvg width='48' height='48' viewBox='0 0 48 48' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='24' cy='24' r='24' fill='black' fill-opacity='0.12'/%3E%3Cpath d='M21 16L29 24L21 32' stroke='white' stroke-width='2' stroke-linecap='round'/%3E%3C/svg%3E%0A");

      &:hover {
        background-image: url("data:image/svg+xml,%3Csvg width='48' height='48' viewBox='0 0 48 48' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='24' cy='24' r='24' fill='%23FF8E2A'/%3E%3Cpath d='M21 16L29 24L21 32' stroke='white' stroke-width='2' stroke-linecap='round'/%3E%3C/svg%3E%0A");
      }
    }
    
    .swiper-button-prev {
      background-image: url("data:image/svg+xml,%3Csvg width='48' height='48' viewBox='0 0 48 48' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='24' cy='24' r='24' fill='black' fill-opacity='0.12'/%3E%3Cpath d='M27 16L19 24L27 32' stroke='white' stroke-width='2' stroke-linecap='round'/%3E%3C/svg%3E%0A");
      
      &:hover {
        background-image: url("data:image/svg+xml,%3Csvg width='48' height='48' viewBox='0 0 48 48' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='24' cy='24' r='24' fill='%23FF8E2A'/%3E%3Cpath d='M27 16L19 24L27 32' stroke='white' stroke-width='2' stroke-linecap='round'/%3E%3C/svg%3E%0A");
      }
    }

    .swiper-pagination {
      bottom: 3.2rem;
    }

    // MO
    @media screen and (max-width: 389px) {
      .swiper-wrapper {
        height: 43rem;
      }
    }

    @media screen and (min-width: 390px) and (max-width: #{$breakpoint-pc - 1px}) {
      .swiper-wrapper {
        height: 47rem;
      }

      .swiper-slide {
        height: 41rem;
        
        &.swiper-slide-active {
          height: 47rem;
        }
      }
    }

    // Tablet
    @media screen and (min-width: #{$breakpoint-tablet}) and (max-width: #{$breakpoint-pc - 1px}) {
      margin: -2.8rem -2.8rem 0;
      padding: 0 2.8rem;
      .swiper-wrapper {
        height: 47rem;
      }

      .swiper-slide {
        height: 41rem;
        
        &.swiper-slide-active {
          height: 47rem;
        }
      }
    }

    // PC
    @media screen and (min-width: #{$breakpoint-pc}) {
      margin: -4rem 0 0 0;
      padding: 0;
      border-radius: 2.4rem;

      .swiper-wrapper {
        height: 60rem;
      }

      .swiper-slide {
        height: 100%;
        border-radius: 2.4rem;
        box-shadow: none !important;
        
        &.swiper-slide-active {
          height: 100%;
        }
      }

      .swiper-button-next,
      .swiper-button-prev {
        display: block;
      }

      .swiper-pagination {
        bottom: 1.2rem;
      }
    }
  }

  // main gallery
  &.is-main-gallery {
    --swiper-navigation-sides-offset: -8rem;

    margin: 0 -2rem;
    padding: 0 2rem;

    .swiper-slide {
      width: 20.8rem !important;

      .main-gallery__image {
        overflow: hidden;
        height: 27.8rem !important;
        margin-bottom: 1.2rem;
        border-radius: 0.8rem;
        
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }

      .main-gallery__title {
        font-weight: 700;
        font-size: 1.5rem;
        color: #111;
      }

      .main-gallery__description {
        display: -webkit-box;
        overflow: hidden;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 2;
        margin-top: 0.4rem;
        font-size: 1.3rem;
        color: #888;
      }
    }

    .swiper-button-next,
    .swiper-button-prev {
      display: none;
      width: 4.8rem;
      height: 4.8rem;

      &::after {
        display: none;
      }
    }

    .swiper-button-next {
      background-image: url("data:image/svg+xml,%3Csvg width='48' height='48' viewBox='0 0 48 48' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='24' cy='24' r='24' fill='black' fill-opacity='0.12'/%3E%3Cpath d='M21 16L29 24L21 32' stroke='white' stroke-width='2' stroke-linecap='round'/%3E%3C/svg%3E%0A");
      
      &:hover {
        background-image: url("data:image/svg+xml,%3Csvg width='48' height='48' viewBox='0 0 48 48' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='24' cy='24' r='24' fill='%23FF8E2A'/%3E%3Cpath d='M21 16L29 24L21 32' stroke='white' stroke-width='2' stroke-linecap='round'/%3E%3C/svg%3E%0A");
      }
    }

    .swiper-button-prev {
      background-image: url("data:image/svg+xml,%3Csvg width='48' height='48' viewBox='0 0 48 48' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='24' cy='24' r='24' fill='black' fill-opacity='0.12'/%3E%3Cpath d='M27 16L19 24L27 32' stroke='white' stroke-width='2' stroke-linecap='round'/%3E%3C/svg%3E%0A");
      
      &:hover {
        background-image: url("data:image/svg+xml,%3Csvg width='48' height='48' viewBox='0 0 48 48' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='24' cy='24' r='24' fill='%23FF8E2A'/%3E%3Cpath d='M27 16L19 24L27 32' stroke='white' stroke-width='2' stroke-linecap='round'/%3E%3C/svg%3E%0A");
      }
    }

    // MO (390px) ~ Tablet
    @media screen and (min-width: 390px) and (max-width: #{$breakpoint-tablet - 1px}) {
      .swiper-slide {
        width: 22.8rem !important;
  
        .main-gallery__image {
          height: 30.4rem !important;
        }
      }
    }

    // Tablet
    @media screen and (min-width: #{$breakpoint-tablet}) and (max-width: #{$breakpoint-pc - 1px}) {
      margin: 0 -2.8rem;
      padding: 0 2.8rem;
    }

    // PC
    @media screen and (min-width: #{$breakpoint-pc}) {
      z-index: initial;
      margin: 0;
      padding: 0;

      .swiper-slide {
        width: 27.6rem !important;

        &:hover {
          .main-gallery__image {
            border: 0.2rem solid #FF8E2A; 
          }
  
          .main-gallery__title {
            color: #FF8E2A;
          }
        }
  
        .main-gallery__image {
          height: 35.2rem !important;
        }
      }

      .swiper-button-next,
      .swiper-button-prev {
        display: block;

        &.swiper-button-disabled {
          opacity: 0.3 !important;
        }
      }

      
    }
  }

  // product view
  &.is-product-view {
    flex-shrink: 0;
    width: calc(100% + 4rem);
    margin: -3.2rem -2rem 0;

    .swiper-slide {
      img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
        aspect-ratio: 1 / 1;
      }
    }

    .swiper-button-next,
    .swiper-button-prev {
      display: none;
      width: 4.8rem;
      height: 4.8rem;

      &::after {
        display: none;
      }
    }

    .swiper-button-next {
      background-image: url("data:image/svg+xml,%3Csvg width='48' height='48' viewBox='0 0 48 48' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='24' cy='24' r='24' fill='black' fill-opacity='0.12'/%3E%3Cpath d='M21 16L29 24L21 32' stroke='white' stroke-width='2' stroke-linecap='round'/%3E%3C/svg%3E%0A");

      &:hover {
        background-image: url("data:image/svg+xml,%3Csvg width='48' height='48' viewBox='0 0 48 48' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='24' cy='24' r='24' fill='%23FF8E2A'/%3E%3Cpath d='M21 16L29 24L21 32' stroke='white' stroke-width='2' stroke-linecap='round'/%3E%3C/svg%3E%0A");
      }
    }
    
    .swiper-button-prev {
      background-image: url("data:image/svg+xml,%3Csvg width='48' height='48' viewBox='0 0 48 48' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='24' cy='24' r='24' fill='black' fill-opacity='0.12'/%3E%3Cpath d='M27 16L19 24L27 32' stroke='white' stroke-width='2' stroke-linecap='round'/%3E%3C/svg%3E%0A");
      
      &:hover {
        background-image: url("data:image/svg+xml,%3Csvg width='48' height='48' viewBox='0 0 48 48' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='24' cy='24' r='24' fill='%23FF8E2A'/%3E%3Cpath d='M27 16L19 24L27 32' stroke='white' stroke-width='2' stroke-linecap='round'/%3E%3C/svg%3E%0A");
      }
    }

    // Tablet
    @media screen and (min-width: #{$breakpoint-tablet}) and (max-width: #{$breakpoint-pc - 1px}) {
      width: 37.9rem;
      height: 37.9rem;
      margin: 0;

      .swiper-slide {
        overflow: hidden;
        border-radius: 1.2rem;
      }
    }

    // PC
    @media screen and (min-width: #{$breakpoint-pc}) {
      width: 52.8rem;
      height: 52.8rem;
      margin: 0;

      .swiper-slide {
        overflow: hidden;
        border-radius: 1.2rem;
      }
      
      .swiper-button-next,
      .swiper-button-prev {
        display: block;
      }
    }
  }

  // pagination
  .swiper-pagination {
    display: flex;
    left: 50%;
    bottom: 1.2rem;
    align-items: center;
    width: auto;
    padding: 0.4rem 1.2rem;
    border-radius: 99px;
    border: 0.1rem solid #EBEBEB;
    transform: translateX(-50%);
    font-size: 1.3rem;
    line-height: 1.15;
    color: #999;
    background-color: rgba(255, 255, 255, 0.8);

    .swiper-pagination-current {
      font-weight: 700;
      color: #111;
    }

    .swiper-pagination-total {
      font-weight: 700;
    } 

    .bar {
      width: 0.1rem;
      height: 1rem;
      margin: 0 0.4rem;
      background-color: #999;
    }
  }
}