.footer {
    background-color: #F6F6F6;
    height: 510px;
    display: flex;
    justify-content: center;

    .footer__inner {
        width: 1312px;
        display: flex;
        justify-content: space-between;
    }

    .footer__content {

    }

    .footer__icon {

    }
}