<footer class="footer">
    <div class="footer__inner">
        <div class="footer__content">
            <img src="/assets/images/logo/logo-gray.svg" height="70" alt="Miro Brick Logo Gray"></img>
            
            <span class="footer__content-title" onclick="handleOpenFootercontent()">미로브릭 사업자정보</span>
            
            <ul class="footer__content-info">
                <li>
                    <span class="info__title">정보관리책임</span>
                    <span class="info__content">문형원</span>
                </li>
                <li>
                    <span class="info__title">사업자등록번호</span>
                    <span class="info__content">511-13-02191</span>
                </li>
                <li>
                    <span class="info__title">통신판매업신고</span>
                    <span class="info__content">제2023-서울노원-1025호</span>
                </li>
                <li>
                    <span class="info__title">주소</span>
                    <span class="info__content">서울시 노원구 노원로32길 42-17, 201호 (상계동)</span>
                </li>
                <li>
                    <span class="info__title">전시장</span>
                    <span class="info__content">경기도 평택시 포승읍 정문동길 75</span>
                </li>
                <li>
                    <span class="info__title">벽돌공장</span>
                    <span class="info__content">
                        [1공장] 경기 화성시 장안면 수정로 177-21 <br />
                        [2공장] 동두천시 상봉암동 330-4
                    </span>
                </li>
                <li>
                    <span class="info__title">HP</span>
                    <span class="info__content">010-2221-0809</span>
                </li>
                <li>
                    <span class="info__title">TEL</span>
                    <span class="info__content">02-903-8181</span>
                </li>
                <li class="email">
                    <span class="info__title">E-mail</span>
                    <a href="mailto:miro-brick@naver.com?Subject=문의" class="info__content">miro-brick@naver.com</a>
                </li>
            </ul>

            <span class="copyright">Copyright&copy; www.miro-brick.com. All rights reserved.</span>

        </div>

        <div class="footer__icon">
            <span class="circle__gray">
                <i class="icon icon_naver_mo border" onclick="openUrl('naver')">네이버</i>
            </span>

            <span class="circle__gray">
                <i class="icon icon_instagram_mo border" onclick="openUrl('instagram')">인스타그램</i>
            </span>
        </div>
    </div>
</footer>