<!-- 제품 메뉴 네비게이션 -->
<section class="navigation">
    <ul class="navigation__list product drag__area">
        <li class="navigation__item" label="고벽돌">
            <a href="#">고벽돌</a>
        </li>
        <li class="navigation__item" label="벽돌(조적용)">
            <a href="#">벽돌(조적용)</a>
        </li>
        <li class="navigation__item" label="벽돌타일">
            <a href="#">벽돌타일</a>
        </li>
        <li class="navigation__item" label="롱브릭">
            <a href="#">롱브릭</a>
        </li>
        <li class="navigation__item" label="롱타일">
            <a href="#">롱타일</a>
        </li>
        <li class="navigation__item" label="고급타일">
            <a href="#">고급타일</a>
        </li>
        <li class="navigation__item" label="천연석/현무암">
            <a href="#">천연석/현무암</a>
        </li>
        <li class="navigation__item" label="디자인블록">
            <a href="#">디자인블록</a>
        </li>
        <li class="navigation__item" label="조적연결철물">
            <a href="#">조적연결철물</a>
        </li>
        <li class="navigation__item" label="바닥재">
            <a href="#">바닥재</a>
        </li>
    </ul>
</section>