<!-- Tablet, Mobile size에서 보이는 사이드 메뉴 -->
<section class="navigation">
    <ul class="navigation__list">
        <li class="navigation__item" label="고벽돌">고벽돌</li>
        <li class="navigation__item" label="벽돌(조적용)">벽돌(조적용)</li>
        <li class="navigation__item" label="벽돌타일">벽돌타일</li>
        <li class="navigation__item" label="롱브릭">롱브릭</li>
        <li class="navigation__item" label="롱타일">롱타일</li>
        <li class="navigation__item" label="고급타일">고급타일</li>
        <li class="navigation__item" label="천연석/현무암">천연석/현무암</li>
        <li class="navigation__item" label="디자인블록">디자인블록</li>
        <li class="navigation__item" label="조적연결철물">조적연결철물</li>
        <li class="navigation__item" label="바닥재">바닥재</li>
    </ul>
</section>