<!-- Table and Mobile -->
<!-- 메인페이지가 아닌 메뉴 클릭 후 이동되는 페이지일 경우 사용 -->
<!-- 제품,  시공갤러리, 고객센터 페이지에서 사용 -->
<header class="header sub">
    <div class="header__inner">
        <div class="header__sub-title notPc">
            <i class="icon icon_left_arrow" onclick="goback()">뒤로가기</i>
            <span class="header__title"></span>
        </div>

        <a href="/">
            <img class="onlyPc" src="/assets/images/logo/logo.svg" alt="Miro Brick Logo" />
        </a>

        <div class="header__inner-right">
            <ul class="header__inner-menu onlyPc">
                <li label="제품">
                    <a href="/pages/product.html">제품</a>
                </li>
                <li label="시공갤러리">
                    <a href="/pages/gallery.html">시공갤러리</a>
                    
                </li>
                <li label="고객센터">
                    <a href="/pages/qna.html">고객센터</a>
                </li>
            </ul>

            <div class="header__inner-icon onlyPc">
                <i class="icon icon_naver" onclick="openUrl('naver')">네이버</i>
                <i class="icon icon_instagram" onclick="openUrl('instagram')">인스타그램</i>
            </div>

            <div class="header__inner-icon notPc">
                <i class="icon icon_naver_mo" onclick="openUrl('naver')">네이버</i>
                <i class="icon icon_instagram_mo" onclick="openUrl('instagram')">인스타그램</i>
                <i class="icon icon_category_mo" onclick="handleOpenCategory()">메뉴</i>
            </div>
        </div>
    </div>
</header>